
{% extends 'base.html'%}
{% load static %}
{% block title %}Beloved - Girls{% endblock %}
{% block content %}


  
  <main class="main-content">
    <!--== Start Hero Area Wrapper ==-->
    <section class="home-slider-area slider-home5">
      <div class="home-slider-content">
        <!-- Start Slide Item -->
        <div class="home-slider-item">
          <div class="col-left">
            <div class="category-items-style4">
              <div class="category-item hover-effect effect-style1">
                <div class="thumb">
                  <a href="shop.html"><img src="{% static 'assets/img/slider/h5-s1_ger.jpg' %}" alt="Moren-Shop"></a>
                  <div class="effect-content"></div>
                </div>
                <div class="content">
                  <h4 class="title">New In</h4>
                </div>
              </div>
              <div class="text-rotate">
                NEW DESIGN <br>2025
              </div>
            </div>
          </div>
          <div class="col-right">
            <div class="inner-content">
              <div class="title-style">
                <h2 class="title">Street</h2>
                <h3 class="title-stroke">Street</h3>
                <h4 class="sub-title"></h4>
              </div>
              <div class="category-items-style6">
                <div class="row row-gutter-50">
                  <div class="col-6">
                    <div class="category-item hover-effect effect-style1">
                      <div class="thumb">
                        <a href="shop.html"><img src="{% static 'assets/img/slider/h5-s2_ger.jpg' %}" alt="Moren-Shop"></a>
                        <div class="effect-content"></div>
                      </div>
                      <div class="content">
                        <h4 class="title">NEW IN</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="category-item hover-effect effect-style1">
                      <div class="thumb">
                        <a href="shop.html"><img src="{% static 'assets/img/slider/h5-s3_ger.jpg' %}" alt="Moren-Shop"></a>
                        <div class="effect-content"></div>
                      </div>
                      <div class="content">
                        <h4 class="title">NEW IN</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="inner-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ornare maecenas pellentesque fringilla tortor interdum turpis sollicitudin. Orci, id vel vitae non commodo risus.</p>
                <a href="shop.html" class="btn-theme btn-black btn-border btn-size-lg text-uppercase">Shop Now</a>
              </div>
              <div class="text-rotate">
                2025 <br>NEW DESIGN
              </div>
            </div>
          </div>
        </div>
        <!-- End Slide Item -->
      </div>
    </section>
    <!--== End Hero Area Wrapper ==-->



    <!--== Start Collection Area Wrapper ==-->
    <section class="collection-area collection-winter-area">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="align-items">
              <div class="col-left">
                <div class="content" data-aos="fade-up" data-aos-duration="1000">
                  <div class="section-title">
                    <h2 class="title"><span>WINTER</span> COLLECTION</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ornare maecenas pellentesque fringilla tortor interdum turpis sollicitudin. Orci, id vel vitae non commodo risus.</p>
                    <a href="shop.html" class="btn-theme btn-black btn-border btn-size-lg text-uppercase">Shop Now</a>
                  </div>
                </div>
              </div>
              <div class="col-right">
                <div class="category-items-style7">
                  <div class="category-item hover-effect effect-style1 item-one">
                    <div class="thumb">
                      <a href="shop.html"><img src="{% static 'assets/img/shop/category/c1_ger.jpg' %}" alt="Moren-Images"></a>
                      <div class="effect-content"></div>
                    </div>
                  </div>
                  <div class="category-item hover-effect effect-style1 item-two">
                    <div class="thumb">
                      <a href="shop.html"><img src="{% static 'assets/img/shop/category/c2_ger.jpg' %}" alt="Moren-Images"></a>
                      <div class="effect-content"></div>
                    </div>
                  </div>
                  <div class="category-item hover-effect effect-style1 item-three">
                    <div class="thumb">
                      <a href="shop.html"><img src="{% static 'assets/img/shop/category/c3_ger.jpg' %}" alt="Moren-Images"></a>
                      <div class="effect-content"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Collection Area Wrapper ==-->

    <!--== Start Products Area Wrapper ==-->
    <section class="product-area new-product-area">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-lg-6 m-auto">
            <div class="section-title text-center" data-aos="fade-up" data-aos-duration="1000">
              <h2 class="title">new products</h2>
            </div>
          </div>
        </div>
        <div class="row" data-aos="fade-up" data-aos-duration="1200">
          <div class="col-md-12">
            <div class="product-tab-content">

              <ul class="nav nav-tabs nav-tabs-style1" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="product-men-tab" data-bs-toggle="tab" data-bs-target="#product-men" type="button" role="tab" aria-controls="product-men" aria-selected="true">SUMMER</button>
                </li>
                
              </ul>

              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="product-men" role="tabpanel" aria-labelledby="product-men-tab">
                  <div class="row row-gutter-40">
                    <div class="col-sm-6 col-md-4">
                      <!-- Start Product Item -->
                      <div class="product-item">
                        <div class="product-thumb">
                          <a href="shop-single-product.html">
                            <img src="{% static 'assets/img/shop/44_ger.jpg' %}" alt="Moren-Shop">
                            <span class="thumb-overlay"></span>
                          </a>
                          <div class="product-action action-style3">
                            <a class="action-cart ht-tooltip" data-tippy-content="Add to cart" href="shop-cart.html" title="Add to cart">
                              <i class="lastudioicon-shopping-cart-3"></i>
                            </a>
                            <a class="action-quick-view ht-tooltip" data-tippy-content="Quick View" href="javascript:void(0);" title="Wishlist">
                              <i class="lastudioicon-search-zoom-in"></i>
                            </a>
                            <a class="action-wishlist ht-tooltip" data-tippy-content="Add to wishlist" href="shop-wishlist.html" title="Add to wishlist">
                              <i class="lastudioicon-heart-2"></i>
                            </a>
                            <a class="action-compare ht-tooltip" data-tippy-content="Add to compare" href="shop-compare.html" title="Add to compare">
                              <i class="lastudioicon-compare"></i>
                            </a>
                          </div>
                        </div>
                        <div class="product-info info-style2">
                          <div class="content-inner">                  
                            <h4 class="title"><a href="shop-single-product.html">Knit cropped cardigan</a></h4>
                            <div class="prices">
                              <span class="price">S/39.90</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- End Product Item -->
                    </div>
                    <div class="col-sm-6 col-md-4">
                      <!-- Start Product Item -->
                      <div class="product-item">
                        <div class="product-thumb">
                          <a href="shop-single-product.html">
                            <img src="{% static 'assets/img/shop/45_ger.jpg' %}" alt="Moren-Shop">
                            <span class="thumb-overlay"></span>
                          </a>
                          <div class="product-action action-style3">
                            <a class="action-cart ht-tooltip" data-tippy-content="Add to cart" href="shop-cart.html" title="Add to cart">
                              <i class="lastudioicon-shopping-cart-3"></i>
                            </a>
                            <a class="action-quick-view ht-tooltip" data-tippy-content="Quick View" href="javascript:void(0);" title="Wishlist">
                              <i class="lastudioicon-search-zoom-in"></i>
                            </a>
                            <a class="action-wishlist ht-tooltip" data-tippy-content="Add to wishlist" href="shop-wishlist.html" title="Add to wishlist">
                              <i class="lastudioicon-heart-2"></i>
                            </a>
                            <a class="action-compare ht-tooltip" data-tippy-content="Add to compare" href="shop-compare.html" title="Add to compare">
                              <i class="lastudioicon-compare"></i>
                            </a>
                          </div>
                        </div>
                        <div class="product-info info-style2">
                          <div class="content-inner">                  
                            <h4 class="title"><a href="shop-single-product.html">Knit cropped cardigan</a></h4>
                            <div class="prices">
                              <span class="price">S/39.90</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- End Product Item -->
                    </div>
                    <div class="col-sm-6 col-md-4">
                      <!-- Start Product Item -->
                      <div class="product-item">
                        <div class="product-thumb">
                          <a href="shop-single-product.html">
                            <img src="{% static 'assets/img/shop/46_ger.jpg' %}" alt="Moren-Shop">
                            <span class="thumb-overlay"></span>
                          </a>
                          <div class="product-action action-style3">
                            <a class="action-cart ht-tooltip" data-tippy-content="Add to cart" href="shop-cart.html" title="Add to cart">
                              <i class="lastudioicon-shopping-cart-3"></i>
                            </a>
                            <a class="action-quick-view ht-tooltip" data-tippy-content="Quick View" href="javascript:void(0);" title="Wishlist">
                              <i class="lastudioicon-search-zoom-in"></i>
                            </a>
                            <a class="action-wishlist ht-tooltip" data-tippy-content="Add to wishlist" href="shop-wishlist.html" title="Add to wishlist">
                              <i class="lastudioicon-heart-2"></i>
                            </a>
                            <a class="action-compare ht-tooltip" data-tippy-content="Add to compare" href="shop-compare.html" title="Add to compare">
                              <i class="lastudioicon-compare"></i>
                            </a>
                          </div>
                        </div>
                        <div class="product-info info-style2">
                          <div class="content-inner">                  
                            <h4 class="title"><a href="shop-single-product.html">Knit cropped cardigan</a></h4>
                            <div class="prices">
                              <span class="price">S/39.90</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- End Product Item -->
                    </div>
                    <div class="col-sm-6 col-md-4">
                      <!-- Start Product Item -->
                      <div class="product-item">
                        <div class="product-thumb">
                          <a href="shop-single-product.html">
                            <img src="{% static 'assets/img/shop/47_ger.jpg' %}" alt="Moren-Shop">
                            <span class="thumb-overlay"></span>
                          </a>
                          <div class="product-action action-style3">
                            <a class="action-cart ht-tooltip" data-tippy-content="Add to cart" href="shop-cart.html" title="Add to cart">
                              <i class="lastudioicon-shopping-cart-3"></i>
                            </a>
                            <a class="action-quick-view ht-tooltip" data-tippy-content="Quick View" href="javascript:void(0);" title="Wishlist">
                              <i class="lastudioicon-search-zoom-in"></i>
                            </a>
                            <a class="action-wishlist ht-tooltip" data-tippy-content="Add to wishlist" href="shop-wishlist.html" title="Add to wishlist">
                              <i class="lastudioicon-heart-2"></i>
                            </a>
                            <a class="action-compare ht-tooltip" data-tippy-content="Add to compare" href="shop-compare.html" title="Add to compare">
                              <i class="lastudioicon-compare"></i>
                            </a>
                          </div>
                        </div>
                        <div class="product-info info-style2">
                          <div class="content-inner">                  
                            <h4 class="title"><a href="shop-single-product.html">Knit cropped cardigan</a></h4>
                            <div class="prices">
                              <span class="price">S/39.90</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- End Product Item -->
                    </div>
                    <div class="col-sm-6 col-md-4">
                      <!-- Start Product Item -->
                      <div class="product-item">
                        <div class="product-thumb">
                          <a href="shop-single-product.html">
                            <img src="{% static 'assets/img/shop/48_ger.jpg' %}" alt="Moren-Shop">
                            <span class="thumb-overlay"></span>
                          </a>
                          <div class="product-action action-style3">
                            <a class="action-cart ht-tooltip" data-tippy-content="Add to cart" href="shop-cart.html" title="Add to cart">
                              <i class="lastudioicon-shopping-cart-3"></i>
                            </a>
                            <a class="action-quick-view ht-tooltip" data-tippy-content="Quick View" href="javascript:void(0);" title="Wishlist">
                              <i class="lastudioicon-search-zoom-in"></i>
                            </a>
                            <a class="action-wishlist ht-tooltip" data-tippy-content="Add to wishlist" href="shop-wishlist.html" title="Add to wishlist">
                              <i class="lastudioicon-heart-2"></i>
                            </a>
                            <a class="action-compare ht-tooltip" data-tippy-content="Add to compare" href="shop-compare.html" title="Add to compare">
                              <i class="lastudioicon-compare"></i>
                            </a>
                          </div>
                        </div>
                        <div class="product-info info-style2">
                          <div class="content-inner">                  
                            <h4 class="title"><a href="shop-single-product.html">Knit cropped cardigan</a></h4>
                            <div class="prices">
                              <span class="price">S/39.90</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- End Product Item -->
                    </div>
                    <div class="col-sm-6 col-md-4">
                      <!-- Start Product Item -->
                      <div class="product-item">
                        <div class="product-thumb">
                          <a href="shop-single-product.html">
                            <img src="{% static 'assets/img/shop/49_ger.jpg' %}" alt="Moren-Shop">
                            <span class="thumb-overlay"></span>
                          </a>
                          <div class="product-action action-style3">
                            <a class="action-cart ht-tooltip" data-tippy-content="Add to cart" href="shop-cart.html" title="Add to cart">
                              <i class="lastudioicon-shopping-cart-3"></i>
                            </a>
                            <a class="action-quick-view ht-tooltip" data-tippy-content="Quick View" href="javascript:void(0);" title="Wishlist">
                              <i class="lastudioicon-search-zoom-in"></i>
                            </a>
                            <a class="action-wishlist ht-tooltip" data-tippy-content="Add to wishlist" href="shop-wishlist.html" title="Add to wishlist">
                              <i class="lastudioicon-heart-2"></i>
                            </a>
                            <a class="action-compare ht-tooltip" data-tippy-content="Add to compare" href="shop-compare.html" title="Add to compare">
                              <i class="lastudioicon-compare"></i>
                            </a>
                          </div>
                        </div>
                        <div class="product-info info-style2">
                          <div class="content-inner">                  
                            <h4 class="title"><a href="shop-single-product.html">Knit cropped cardigan</a></h4>
                            <div class="prices">
                              <span class="price">S/39.90</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- End Product Item -->
                    </div>
                    <div class="col-sm-6 col-md-4">
                      <!-- Start Product Item -->
                      <div class="product-item">
                        <div class="product-thumb">
                          <a href="shop-single-product.html">
                            <img src="{% static 'assets/img/shop/50_ger.jpg' %}" alt="Moren-Shop">
                            <span class="thumb-overlay"></span>
                          </a>
                          <div class="product-action action-style3">
                            <a class="action-cart ht-tooltip" data-tippy-content="Add to cart" href="shop-cart.html" title="Add to cart">
                              <i class="lastudioicon-shopping-cart-3"></i>
                            </a>
                            <a class="action-quick-view ht-tooltip" data-tippy-content="Quick View" href="javascript:void(0);" title="Wishlist">
                              <i class="lastudioicon-search-zoom-in"></i>
                            </a>
                            <a class="action-wishlist ht-tooltip" data-tippy-content="Add to wishlist" href="shop-wishlist.html" title="Add to wishlist">
                              <i class="lastudioicon-heart-2"></i>
                            </a>
                            <a class="action-compare ht-tooltip" data-tippy-content="Add to compare" href="shop-compare.html" title="Add to compare">
                              <i class="lastudioicon-compare"></i>
                            </a>
                          </div>
                        </div>
                        <div class="product-info info-style2">
                          <div class="content-inner">                  
                            <h4 class="title"><a href="shop-single-product.html">Knit cropped cardigan</a></h4>
                            <div class="prices">
                              <span class="price">S/39.90</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- End Product Item -->
                    </div>
                    <div class="col-sm-6 col-md-4">
                      <!-- Start Product Item -->
                      <div class="product-item">
                        <div class="product-thumb">
                          <a href="shop-single-product.html">
                            <img src="{% static 'assets/img/shop/51_ger.jpg' %}" alt="Moren-Shop">
                            <span class="thumb-overlay"></span>
                          </a>
                          <div class="product-action action-style3">
                            <a class="action-cart ht-tooltip" data-tippy-content="Add to cart" href="shop-cart.html" title="Add to cart">
                              <i class="lastudioicon-shopping-cart-3"></i>
                            </a>
                            <a class="action-quick-view ht-tooltip" data-tippy-content="Quick View" href="javascript:void(0);" title="Wishlist">
                              <i class="lastudioicon-search-zoom-in"></i>
                            </a>
                            <a class="action-wishlist ht-tooltip" data-tippy-content="Add to wishlist" href="shop-wishlist.html" title="Add to wishlist">
                              <i class="lastudioicon-heart-2"></i>
                            </a>
                            <a class="action-compare ht-tooltip" data-tippy-content="Add to compare" href="shop-compare.html" title="Add to compare">
                              <i class="lastudioicon-compare"></i>
                            </a>
                          </div>
                        </div>
                        <div class="product-info info-style2">
                          <div class="content-inner">                  
                            <h4 class="title"><a href="shop-single-product.html">Knit cropped cardigan</a></h4>
                            <div class="prices">
                              <span class="price">S/39.90</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- End Product Item -->
                    </div>
                    <div class="col-sm-6 col-md-4">
                      <!-- Start Product Item -->
                      <div class="product-item">
                        <div class="product-thumb">
                          <a href="shop-single-product.html">
                            <img src="{% static 'assets/img/shop/52_ger.jpg' %}" alt="Moren-Shop">
                            <span class="thumb-overlay"></span>
                          </a>
                          <div class="product-action action-style3">
                            <a class="action-cart ht-tooltip" data-tippy-content="Add to cart" href="shop-cart.html" title="Add to cart">
                              <i class="lastudioicon-shopping-cart-3"></i>
                            </a>
                            <a class="action-quick-view ht-tooltip" data-tippy-content="Quick View" href="javascript:void(0);" title="Wishlist">
                              <i class="lastudioicon-search-zoom-in"></i>
                            </a>
                            <a class="action-wishlist ht-tooltip" data-tippy-content="Add to wishlist" href="shop-wishlist.html" title="Add to wishlist">
                              <i class="lastudioicon-heart-2"></i>
                            </a>
                            <a class="action-compare ht-tooltip" data-tippy-content="Add to compare" href="shop-compare.html" title="Add to compare">
                              <i class="lastudioicon-compare"></i>
                            </a>
                          </div>
                        </div>
                        <div class="product-info info-style2">
                          <div class="content-inner">                  
                            <h4 class="title"><a href="shop-single-product.html">Knit cropped cardigan</a></h4>
                            <div class="prices">
                              <span class="price">S/39.90</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- End Product Item -->
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="product-women" role="tabpanel" aria-labelledby="product-women-tab">
                  <div class="row row-gutter-40">
                    <div class="col-sm-6 col-md-4">
                      <!-- Start Product Item -->
                      <div class="product-item">
                        <div class="product-thumb">
                          <a href="shop-single-product.html">
                            <img src="{% static 'assets/img/shop/44_ger.jpg' %}" alt="Moren-Shop">
                            <span class="thumb-overlay"></span>
                          </a>
                          <div class="product-action action-style3">
                            <a class="action-cart ht-tooltip" data-tippy-content="Add to cart" href="shop-cart.html" title="Add to cart">
                              <i class="lastudioicon-shopping-cart-3"></i>
                            </a>
                            <a class="action-quick-view ht-tooltip" data-tippy-content="Quick View" href="javascript:void(0);" title="Wishlist">
                              <i class="lastudioicon-search-zoom-in"></i>
                            </a>
                            <a class="action-wishlist ht-tooltip" data-tippy-content="Add to wishlist" href="shop-wishlist.html" title="Add to wishlist">
                              <i class="lastudioicon-heart-2"></i>
                            </a>
                            <a class="action-compare ht-tooltip" data-tippy-content="Add to compare" href="shop-compare.html" title="Add to compare">
                              <i class="lastudioicon-compare"></i>
                            </a>
                          </div>
                        </div>
                        <div class="product-info info-style2">
                          <div class="content-inner">                  
                            <h4 class="title"><a href="shop-single-product.html">Knit cropped cardigan</a></h4>
                            <div class="prices">
                              <span class="price">S/39.90</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- End Product Item -->
                    </div>
                    <div class="col-sm-6 col-md-4">
                      <!-- Start Product Item -->
                      <div class="product-item">
                        <div class="product-thumb">
                          <a href="shop-single-product.html">
                            <img src="{% static 'assets/img/shop/45_ger.jpg' %}" alt="Moren-Shop">
                            <span class="thumb-overlay"></span>
                          </a>
                          <div class="product-action action-style3">
                            <a class="action-cart ht-tooltip" data-tippy-content="Add to cart" href="shop-cart.html" title="Add to cart">
                              <i class="lastudioicon-shopping-cart-3"></i>
                            </a>
                            <a class="action-quick-view ht-tooltip" data-tippy-content="Quick View" href="javascript:void(0);" title="Wishlist">
                              <i class="lastudioicon-search-zoom-in"></i>
                            </a>
                            <a class="action-wishlist ht-tooltip" data-tippy-content="Add to wishlist" href="shop-wishlist.html" title="Add to wishlist">
                              <i class="lastudioicon-heart-2"></i>
                            </a>
                            <a class="action-compare ht-tooltip" data-tippy-content="Add to compare" href="shop-compare.html" title="Add to compare">
                              <i class="lastudioicon-compare"></i>
                            </a>
                          </div>
                        </div>
                        <div class="product-info info-style2">
                          <div class="content-inner">                  
                            <h4 class="title"><a href="shop-single-product.html">Knit cropped cardigan</a></h4>
                            <div class="prices">
                              <span class="price">S/39.90</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- End Product Item -->
                    </div>
                    <div class="col-sm-6 col-md-4">
                      <!-- Start Product Item -->
                      <div class="product-item">
                        <div class="product-thumb">
                          <a href="shop-single-product.html">
                            <img src="{% static 'assets/img/shop/46_ger.jpg' %}" alt="Moren-Shop">
                            <span class="thumb-overlay"></span>
                          </a>
                          <div class="product-action action-style3">
                            <a class="action-cart ht-tooltip" data-tippy-content="Add to cart" href="shop-cart.html" title="Add to cart">
                              <i class="lastudioicon-shopping-cart-3"></i>
                            </a>
                            <a class="action-quick-view ht-tooltip" data-tippy-content="Quick View" href="javascript:void(0);" title="Wishlist">
                              <i class="lastudioicon-search-zoom-in"></i>
                            </a>
                            <a class="action-wishlist ht-tooltip" data-tippy-content="Add to wishlist" href="shop-wishlist.html" title="Add to wishlist">
                              <i class="lastudioicon-heart-2"></i>
                            </a>
                            <a class="action-compare ht-tooltip" data-tippy-content="Add to compare" href="shop-compare.html" title="Add to compare">
                              <i class="lastudioicon-compare"></i>
                            </a>
                          </div>
                        </div>
                        <div class="product-info info-style2">
                          <div class="content-inner">                  
                            <h4 class="title"><a href="shop-single-product.html">Knit cropped cardigan</a></h4>
                            <div class="prices">
                              <span class="price">S/39.90</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- End Product Item -->
                    </div>
                    <div class="col-sm-6 col-md-4">
                      <!-- Start Product Item -->
                      <div class="product-item">
                        <div class="product-thumb">
                          <a href="shop-single-product.html">
                            <img src="{% static 'assets/img/shop/47_ger.jpg' %}" alt="Moren-Shop">
                            <span class="thumb-overlay"></span>
                          </a>
                          <div class="product-action action-style3">
                            <a class="action-cart ht-tooltip" data-tippy-content="Add to cart" href="shop-cart.html" title="Add to cart">
                              <i class="lastudioicon-shopping-cart-3"></i>
                            </a>
                            <a class="action-quick-view ht-tooltip" data-tippy-content="Quick View" href="javascript:void(0);" title="Wishlist">
                              <i class="lastudioicon-search-zoom-in"></i>
                            </a>
                            <a class="action-wishlist ht-tooltip" data-tippy-content="Add to wishlist" href="shop-wishlist.html" title="Add to wishlist">
                              <i class="lastudioicon-heart-2"></i>
                            </a>
                            <a class="action-compare ht-tooltip" data-tippy-content="Add to compare" href="shop-compare.html" title="Add to compare">
                              <i class="lastudioicon-compare"></i>
                            </a>
                          </div>
                        </div>
                        <div class="product-info info-style2">
                          <div class="content-inner">                  
                            <h4 class="title"><a href="shop-single-product.html">Knit cropped cardigan</a></h4>
                            <div class="prices">
                              <span class="price">S/39.90</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- End Product Item -->
                    </div>
                    <div class="col-sm-6 col-md-4">
                      <!-- Start Product Item -->
                      <div class="product-item">
                        <div class="product-thumb">
                          <a href="shop-single-product.html">
                            <img src="{% static 'assets/img/shop/48_ger.jpg' %}" alt="Moren-Shop">
                            <span class="thumb-overlay"></span>
                          </a>
                          <div class="product-action action-style3">
                            <a class="action-cart ht-tooltip" data-tippy-content="Add to cart" href="shop-cart.html" title="Add to cart">
                              <i class="lastudioicon-shopping-cart-3"></i>
                            </a>
                            <a class="action-quick-view ht-tooltip" data-tippy-content="Quick View" href="javascript:void(0);" title="Wishlist">
                              <i class="lastudioicon-search-zoom-in"></i>
                            </a>
                            <a class="action-wishlist ht-tooltip" data-tippy-content="Add to wishlist" href="shop-wishlist.html" title="Add to wishlist">
                              <i class="lastudioicon-heart-2"></i>
                            </a>
                            <a class="action-compare ht-tooltip" data-tippy-content="Add to compare" href="shop-compare.html" title="Add to compare">
                              <i class="lastudioicon-compare"></i>
                            </a>
                          </div>
                        </div>
                        <div class="product-info info-style2">
                          <div class="content-inner">                  
                            <h4 class="title"><a href="shop-single-product.html">Knit cropped cardigan</a></h4>
                            <div class="prices">
                              <span class="price">S/39.90</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- End Product Item -->
                    </div>
                    <div class="col-sm-6 col-md-4">
                      <!-- Start Product Item -->
                      <div class="product-item">
                        <div class="product-thumb">
                          <a href="shop-single-product.html">
                            <img src="{% static 'assets/img/shop/49_ger.jpg' %}" alt="Moren-Shop">
                            <span class="thumb-overlay"></span>
                          </a>
                          <div class="product-action action-style3">
                            <a class="action-cart ht-tooltip" data-tippy-content="Add to cart" href="shop-cart.html" title="Add to cart">
                              <i class="lastudioicon-shopping-cart-3"></i>
                            </a>
                            <a class="action-quick-view ht-tooltip" data-tippy-content="Quick View" href="javascript:void(0);" title="Wishlist">
                              <i class="lastudioicon-search-zoom-in"></i>
                            </a>
                            <a class="action-wishlist ht-tooltip" data-tippy-content="Add to wishlist" href="shop-wishlist.html" title="Add to wishlist">
                              <i class="lastudioicon-heart-2"></i>
                            </a>
                            <a class="action-compare ht-tooltip" data-tippy-content="Add to compare" href="shop-compare.html" title="Add to compare">
                              <i class="lastudioicon-compare"></i>
                            </a>
                          </div>
                        </div>
                        <div class="product-info info-style2">
                          <div class="content-inner">                  
                            <h4 class="title"><a href="shop-single-product.html">Knit cropped cardigan</a></h4>
                            <div class="prices">
                              <span class="price">S/39.90</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- End Product Item -->
                    </div>
                    <div class="col-sm-6 col-md-4">
                      <!-- Start Product Item -->
                      <div class="product-item">
                        <div class="product-thumb">
                          <a href="shop-single-product.html">
                            <img src="{% static 'assets/img/shop/50_ger.jpg' %}" alt="Moren-Shop">
                            <span class="thumb-overlay"></span>
                          </a>
                          <div class="product-action action-style3">
                            <a class="action-cart ht-tooltip" data-tippy-content="Add to cart" href="shop-cart.html" title="Add to cart">
                              <i class="lastudioicon-shopping-cart-3"></i>
                            </a>
                            <a class="action-quick-view ht-tooltip" data-tippy-content="Quick View" href="javascript:void(0);" title="Wishlist">
                              <i class="lastudioicon-search-zoom-in"></i>
                            </a>
                            <a class="action-wishlist ht-tooltip" data-tippy-content="Add to wishlist" href="shop-wishlist.html" title="Add to wishlist">
                              <i class="lastudioicon-heart-2"></i>
                            </a>
                            <a class="action-compare ht-tooltip" data-tippy-content="Add to compare" href="shop-compare.html" title="Add to compare">
                              <i class="lastudioicon-compare"></i>
                            </a>
                          </div>
                        </div>
                        <div class="product-info info-style2">
                          <div class="content-inner">                  
                            <h4 class="title"><a href="shop-single-product.html">Knit cropped cardigan</a></h4>
                            <div class="prices">
                              <span class="price">S/39.90</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- End Product Item -->
                    </div>
                    <div class="col-sm-6 col-md-4">
                      <!-- Start Product Item -->
                      <div class="product-item">
                        <div class="product-thumb">
                          <a href="shop-single-product.html">
                            <img src="{% static 'assets/img/shop/51_ger.jpg' %}" alt="Moren-Shop">
                            <span class="thumb-overlay"></span>
                          </a>
                          <div class="product-action action-style3">
                            <a class="action-cart ht-tooltip" data-tippy-content="Add to cart" href="shop-cart.html" title="Add to cart">
                              <i class="lastudioicon-shopping-cart-3"></i>
                            </a>
                            <a class="action-quick-view ht-tooltip" data-tippy-content="Quick View" href="javascript:void(0);" title="Wishlist">
                              <i class="lastudioicon-search-zoom-in"></i>
                            </a>
                            <a class="action-wishlist ht-tooltip" data-tippy-content="Add to wishlist" href="shop-wishlist.html" title="Add to wishlist">
                              <i class="lastudioicon-heart-2"></i>
                            </a>
                            <a class="action-compare ht-tooltip" data-tippy-content="Add to compare" href="shop-compare.html" title="Add to compare">
                              <i class="lastudioicon-compare"></i>
                            </a>
                          </div>
                        </div>
                        <div class="product-info info-style2">
                          <div class="content-inner">                  
                            <h4 class="title"><a href="shop-single-product.html">Knit cropped cardigan</a></h4>
                            <div class="prices">
                              <span class="price">S/39.90</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- End Product Item -->
                    </div>
                    <div class="col-sm-6 col-md-4">
                      <!-- Start Product Item -->
                      <div class="product-item">
                        <div class="product-thumb">
                          <a href="shop-single-product.html">
                            <img src="{% static 'assets/img/shop/52_ger.jpg' %}" alt="Moren-Shop">
                            <span class="thumb-overlay"></span>
                          </a>
                          <div class="product-action action-style3">
                            <a class="action-cart ht-tooltip" data-tippy-content="Add to cart" href="shop-cart.html" title="Add to cart">
                              <i class="lastudioicon-shopping-cart-3"></i>
                            </a>
                            <a class="action-quick-view ht-tooltip" data-tippy-content="Quick View" href="javascript:void(0);" title="Wishlist">
                              <i class="lastudioicon-search-zoom-in"></i>
                            </a>
                            <a class="action-wishlist ht-tooltip" data-tippy-content="Add to wishlist" href="shop-wishlist.html" title="Add to wishlist">
                              <i class="lastudioicon-heart-2"></i>
                            </a>
                            <a class="action-compare ht-tooltip" data-tippy-content="Add to compare" href="shop-compare.html" title="Add to compare">
                              <i class="lastudioicon-compare"></i>
                            </a>
                          </div>
                        </div>
                        <div class="product-info info-style2">
                          <div class="content-inner">                  
                            <h4 class="title"><a href="shop-single-product.html">Knit cropped cardigan</a></h4>
                            <div class="prices">
                              <span class="price">S/39.90</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- End Product Item -->
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Products Area Wrapper ==-->

    <!--== End Divider Area Wrapper ==-->

    <!--== Start Gallery Area Wrapper ==-->
    <section class="gallery-area gallery-style5-area">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-lg-6 m-auto">
            <div class="section-title text-center" data-aos="fade-up" data-aos-duration="1000">
              <h2 class="title">ON THE</h2>
              <h3 class="title-stroke">instagram</h3>
            </div>
          </div>
        </div>
        <div class="row" data-aos="fade-up" data-aos-duration="1200">
          <div class="col-md-12">
            <div class="galery-masonry-style1 masonry-grid">
              <div class="masonry-item">
                <div class="gallery-item">
                  <div class="thumb">
                    <a href="shop.html"><img src="{% static 'assets/img/gallery/t4_ger.jpg' %}" alt="Moren-Image"></a>
                  </div>
                </div>
              </div>
              <div class="masonry-item item-size2">
                <div class="gallery-item">
                  <div class="thumb">
                    <a href="shop.html"><img src="{% static 'assets/img/gallery/t4_ger.jpg' %}" alt="Moren-Image"></a>
                  </div>
                </div>
              </div>
              <div class="masonry-item">
                <div class="gallery-item">
                  <div class="thumb">
                    <a href="shop.html"><img src="{% static 'assets/img/gallery/t4_ger.jpg' %}" alt="Moren-Image"></a>
                  </div>
                </div>
              </div>
              <div class="masonry-item item-size2">
                <div class="gallery-item">
                  <div class="thumb">
                    <a href="shop.html"><img src="{% static 'assets/img/gallery/t4_ger.jpg' %}" alt="Moren-Image"></a>
                  </div>
                </div>
              </div>
              <div class="masonry-item">
                <div class="gallery-item">
                  <div class="thumb">
                    <a href="shop.html"><img src="{% static 'assets/img/gallery/t4_ger.jpg' %}" alt="Moren-Image"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Gallery Area Wrapper ==-->
  </main>


  
  <!--== Scroll Top Button ==-->
  <div class="scroll-to-top"><span class="icofont-arrow-up"></span></div>

  <!--== Start Product Quick View ==-->
  <aside class="product-quick-view-modal">
    <div class="product-quick-view-inner">
      <div class="product-quick-view-content">
        <button type="button" class="btn-close">
          <span class="close-icon"><i class="lastudioicon-e-remove"></i></span>
        </button>
        <div class="row row-gutter-0">
          <div class="col-lg-6 col-md-6 col-12">
            <div class="thumb">
              <img src="{% static 'assets/img/shop/quick-view1.jpg' %} " alt="Moren-Shop">
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-12">
            <div class="single-product-info">
              <h4 class="title">Product Simple</h4>
              <div class="product-rating">
                <div class="review">
                  <p><span></span>99 in stock</p>
                </div>
              </div>
              <div class="prices">
                <span class="price">£49.90</span>
              </div>
              <p class="product-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fringilla quis ipsum enim viverra. Enim in morbi tincidunt ante luctus tincidunt integer. Sed adipiscing vehicula.</p>
              <div class="quick-product-action">
                <div class="action-top">
                  <div class="pro-qty-area">
                    <div class="pro-qty">
                      <input type="text" id="quantity" title="Quantity" value="1">
                    <a href="#" class="inc qty-btn">+</a><a href="#" class="dec qty-btn">-</a></div>
                  </div>
                  <a class="btn-theme btn-black" href="shop-cart.html">Add to cart</a>
                </div>
                <div class="action-bottom">
                  <a class="btn-wishlist" href="shop-wishlist.html"><i class="labtn-icon labtn-icon-wishlist"></i>Add to wishlist</a>
                  <a class="btn-compare" href="shop-compare.html"><i class="labtn-icon labtn-icon-compare"></i>Add to compare</a>
                </div>
              </div>
              <div class="product-ratting">
                <div class="product-sku">
                  SKU: <span>REF. LA-276</span>
                </div>
              </div>
              <div class="product-categorys">
                <div class="product-category">
                  Category: <span>Uncategorized</span>
                </div>
              </div>
              <div class="widget">
                <h3 class="title">Tags:</h3>
                <div class="widget-tags">
                  <ul>
                    <li><a href="shop.html">Blazer,</a></li>
                    <li><a href="shop.html">Fashion,</a></li>
                    <li><a href="shop.html">wordpress,</a></li>
                  </ul>
                </div>
              </div>
              <div class="product-social-info">
                <a href="#"><span class="lastudioicon-b-facebook"></span></a>
                <a href="#"><span class="lastudioicon-b-twitter"></span></a>
                <a href="#"><span class="lastudioicon-b-linkedin"></span></a>
                <a href="#"><span class="lastudioicon-b-pinterest"></span></a>
              </div>
              <div class="product-nextprev">
                <a href="shop-single-product.html">
                  <i class="lastudioicon-arrow-left"></i>
                </a>
                <a href="shop-single-product.html">
                  <i class="lastudioicon-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="canvas-overlay"></div>
  </aside>
  <!--== End Product Quick View ==-->

  <!--== Start Aside Search Menu ==-->
  <div class="search-box-wrapper">
    <div class="search-box-content-inner">
      <div class="search-box-form-wrap">
        <div class="search-note">
          <p>Start typing and press Enter to search</p>
        </div>
        <form action="#" method="post">
          <div class="search-form position-relative">
            <label for="search-input" class="sr-only">Search</label>
            <input type="search" class="form-control" placeholder="Search" id="search-input">
            <button class="search-button"><i class="lastudioicon-zoom-1"></i></button>
          </div>
        </form>
      </div>
    </div>
    <!--== End Aside Search Menu ==-->
    <a href="javascript:;" class="search-close"><i class="lastudioicon-e-remove"></i></a>
  </div>
  <!--== End Aside Search Menu ==-->

  <!--== Start Sidebar Cart Menu ==-->
  <aside class="sidebar-cart-modal">
    <div class="sidebar-cart-inner">
      <div class="sidebar-cart-content">
        <a class="cart-close" href="javascript:void(0);"><i class="lastudioicon-e-remove"></i></a>
        <div class="sidebar-cart">
          <h4 class="sidebar-cart-title">Shopping Cart</h4>
          <div class="product-cart">
            <div class="product-cart-item">
              <div class="product-img">
                <a href="shop.html"><img src="{% static 'assets/img/shop/cart/1.jpg' %}" alt=""></a>
              </div>
              <div class="product-info">
                <h4 class="title"><a href="shop.html">I’m a Unicorn Earrings</a></h4>
                <span class="info">1 × £69.00</span>
              </div>
              <div class="product-delete"><a href="#/">×</a></div>
            </div>
            <div class="product-cart-item">
              <div class="product-img">
                <a href="shop.html"><img src="{% static 'assets/img/shop/cart/2.jpg' %} " alt=""></a>
              </div>
              <div class="product-info">
                <h4 class="title"><a href="shop.html">Knit cropped cardigan</a></h4>
                <span class="info">1 × £29.90</span>
              </div>
              <div class="product-delete"><a href="#/">×</a></div>
            </div>
          </div>
          <div class="cart-total">
            <h4>Subtotal: <span class="money">£98.90</span></h4>
          </div>
          <div class="shipping-info">
            <div class="loading-bar">
              <div class="load-percent"></div>
              <div class="label-free-shipping">
                <div class="free-shipping svg-icon-style">
                  <span class="svg-icon" id="svg-icon-shipping" data-svg-icon="assets/img/icons/shop1.svg"></span>
                </div>
                <p>Spend £101.10 to get Free Shipping</p>
              </div>
            </div>
          </div>
          <div class="cart-checkout-btn">
            <a class="btn-theme" href="shop-cart.html">View cart</a>
            <a class="btn-theme" href="shop-checkout.html">Checkout</a>
          </div>
        </div>
      </div>
    </div>
  </aside>
  <div class="sidebar-cart-overlay"></div>
  <!--== End Sidebar Cart Menu ==-->

  <!--== Start Side Menu ==-->
  <aside class="off-canvas-wrapper">
    <div class="off-canvas-inner">
      <div class="off-canvas-overlay d-none"></div>
      <!-- Start Off Canvas Content Wrapper -->
      <div class="off-canvas-content">
        <!-- Off Canvas Header -->
        <div class="off-canvas-header">
          <div class="close-action">
            <button class="btn-close"><i class="icofont-close-line"></i></button>
          </div>
        </div>

{% endblock %}