{% extends 'base.html' %}
{% load static %}
{% block title %}Beloved - Girls{% endblock %}
{% block content %}



  
  <main class="main-content">
    <!--== Start Hero Area Wrapper ==-->
    <div class="home-slider-area slider-home4 bg-img bg-overlay-black-5" data-bg-img="{% static 'assets/img/slider/h4-s4_ger.jpg' %}">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="home-slider-content">
              <div class="swiper-container home-slider4-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <!-- Start Slide Item -->
                    <div class="home-slider-item">
                      <div class="thumb">
                        <div class="bg-thumb bg-overlay bg-img" data-bg-img="{% static 'assets/img/slider/h4-s1_ger.jpg' %}"></div>
                        <a href="shop.html"></a>
                      </div>
                    </div>
                    <!-- End Slide Item -->
                  </div>
                  <div class="swiper-slide">
                    <!-- Start Slide Item -->
                    <div class="home-slider-item">
                      <div class="thumb">
                        <div class="bg-thumb bg-overlay bg-img" data-bg-img="{% static 'assets/img/slider/h4-s2_ger.png' %}"></div>
                        <a href="shop.html"></a>
                      </div>
                    </div>
                    <!-- End Slide Item -->
                  </div>
                  <div class="swiper-slide">
                    <!-- Start Slide Item -->
                    <div class="home-slider-item">
                      <div class="thumb">
                        <div class="bg-thumb bg-overlay bg-img" data-bg-img="{% static 'assets/img/slider/h4-s3_ger.png' %}"></div>
                        <a href="shop.html"></a>
                      </div>
                    </div>
                    <!-- End Slide Item -->
                  </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--== End Hero Area Wrapper ==-->

    <!--== Start Category Area Wrapper ==-->
    <section class="category-area category-style4-area">
      <div class="container-fluid p-0 pl-sm-15 pr-sm-15">
        <div class="row">
          <div class="col-md-8 col-xl-8 col-xxl-5 m-auto">
            <div class="section-title stitle-style2 separator-line-top text-center">
              <h5 class="subtitle">NUEVA COLECCIÓN</h5>
              <h2 class="title">REGRESO A LA ESCUELA</h2>
              <p>Regresa a la escuela con estilo y elegancia. Nuestros diseños modernos y cómodos te harán sentirte segura y elegante.</p>
            </div>
          </div>
        </div>
        <div class="row row-gutter-0">
          <div class="col-md-12">
            <div class="category-items-style3">
              <div class="align-left-style">
                <div class="category-item">
                  <div class="thumb">
                    <a href="shop.html"><img src="{% static 'assets/img/shop/category/1_ger_b.jpg' %}" alt="Moren-Shop"></a>
                  </div>
                  <div class="content">
                    <h4 class="title">View all <i class="lastudioicon-arrow-right"></i></h4>
                  </div>
                </div>
              </div>
              <div class="align-right-style">
                <div class="category-item">
                  <div class="thumb">
                    <a href="shop.html"><img src="{% static 'assets/img/shop/category/2_ger_b.jpg' %}" alt="Moren-Shop"></a>
                  </div>
                  <div class="content">
                  <h4 class="title">View all <i class="lastudioicon-arrow-right"></i></h4>
                  </div>
                </div>
                <div class="category-item">
                  <div class="thumb">
                    <a href="shop.html"><img src="{% static 'assets/img/shop/category/3_ger_b.jpg' %}" alt="Moren-Shop"></a>
                  </div>
                  <div class="content">
                  <h4 class="title">View all <i class="lastudioicon-arrow-right"></i></h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Category Area Wrapper ==-->

    <!--== Start Divider Area Wrapper ==-->
    <section class="divider-area" data-bg-img="{% static 'assets/img/photos/bg-d2_ger.jpg' %}">
      <div class="container">
        <div class="row">
          <div class="col-md-8 m-auto">
            <div class="divider-content divider-content-style2" data-aos="fade-up" data-aos-duration="1000">
              <h2>para niñas</h2>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Divider Area Wrapper ==-->

    <!--== Start Products Area Wrapper ==-->
    <section class="product-area new-product-area">
      <div class="container">
        <div class="row row-gutter-60">
          <div class="col-sm-6 col-lg-4">
            <!-- Start Product Item -->
            <div class="product-item">
              <div class="product-thumb">
                <a href="shop-single-product.html">
                  <img src="{% static 'assets/img/shop/22_ger.jpg' %}" alt="Moren-Shop">
                  <span class="thumb-overlay"></span>
                </a>
                <div class="product-action">
                  <a class="action-quick-view ht-tooltip" data-tippy-content="Quick View" href="javascript:void(0);" title="Wishlist">
                    <i class="lastudioicon-search-zoom-in"></i>
                  </a>
                  <a class="action-compare ht-tooltip" data-tippy-content="Add to compare" href="shop-compare.html" title="Add to compare">
                    <i class="lastudioicon-compare"></i>
                  </a>
                </div>
              </div>
              <div class="product-info">
                <div class="content-inner">
                  <h4 class="title"><a href="shop-single-product.html">KNIT CROPPED CARDIGAN</a></h4>
                  <div class="prices">
                    <span class="price">S/29.90</span>
                  </div>
                </div>
                <div class="product-info-action">
                  <a class="action-wishlist ht-tooltip" data-tippy-content="Add to wishlist" href="shop-wishlist.html" title="Add to wishlist">
                    <i class="lastudioicon-heart-2"></i>
                  </a>
                  <a class="action-cart ht-tooltip" data-tippy-content="Add to cart" href="shop-cart.html" title="Add to cart">
                    <i class="lastudioicon-bag-3"></i>
                  </a>
                </div>
              </div>
            </div>
            <!-- End Product Item -->
          </div>
          <div class="col-sm-6 col-lg-4">
            <!-- Start Product Item -->
            <div class="product-item">
              <div class="product-thumb">
                <a href="shop-single-product.html">
                  <img src="{% static 'assets/img/shop/23_ger.jpg' %}" alt="Moren-Shop">
                  <span class="thumb-overlay"></span>
                </a>
                <div class="product-action">
                  <a class="action-quick-view ht-tooltip" data-tippy-content="Quick View" href="javascript:void(0);" title="Wishlist">
                    <i class="lastudioicon-search-zoom-in"></i>
                  </a>
                  <a class="action-compare ht-tooltip" data-tippy-content="Add to compare" href="shop-compare.html" title="Add to compare">
                    <i class="lastudioicon-compare"></i>
                  </a>
                </div>
              </div>
              <div class="product-info">
                <div class="content-inner">                  
                  <h4 class="title"><a href="shop-single-product.html">TIE-DYE SWEATSHIRT</a></h4>
                  <div class="prices">
                    <span class="price">£29.90</span>
                  </div>
                </div>
                <div class="product-info-action">
                  <a class="action-wishlist ht-tooltip" data-tippy-content="Add to wishlist" href="shop-wishlist.html" title="Add to wishlist">
                    <i class="lastudioicon-heart-2"></i>
                  </a>
                  <a class="action-cart ht-tooltip" data-tippy-content="Add to cart" href="shop-cart.html" title="Add to cart">
                    <i class="lastudioicon-bag-3"></i>
                  </a>
                </div>
              </div>
            </div>
            <!-- End Product Item -->
          </div>
          <div class="col-sm-6 col-lg-4">
            <!-- Start Product Item -->
            <div class="product-item">
              <div class="product-thumb">
                <a href="shop-single-product.html">
                  <img src="{% static 'assets/img/shop/24_ger.jpg' %}" alt="Moren-Shop">
                  <span class="thumb-overlay"></span>
                </a>
                <div class="product-action">
                  <a class="action-quick-view ht-tooltip" data-tippy-content="Quick View" href="javascript:void(0);" title="Wishlist">
                    <i class="lastudioicon-search-zoom-in"></i>
                  </a>
                  <a class="action-compare ht-tooltip" data-tippy-content="Add to compare" href="shop-compare.html" title="Add to compare">
                    <i class="lastudioicon-compare"></i>
                  </a>
                </div>
              </div>
              <div class="product-info">
                <div class="content-inner">                  
                  <h4 class="title"><a href="shop-single-product.html">SHORT LILAC RUFFLED DRESS</a></h4>
                  <div class="prices">
                    <span class="price">S/219.90</span>
                  </div>
                </div>
                <div class="product-info-action">
                  <a class="action-wishlist ht-tooltip" data-tippy-content="Add to wishlist" href="shop-wishlist.html" title="Add to wishlist">
                    <i class="lastudioicon-heart-2"></i>
                  </a>
                  <a class="action-cart ht-tooltip" data-tippy-content="Add to cart" href="shop-cart.html" title="Add to cart">
                    <i class="lastudioicon-bag-3"></i>
                  </a>
                </div>
              </div>
            </div>
            <!-- End Product Item -->
          </div>
          <div class="col-sm-6 col-lg-4">
            <!-- Start Product Item -->
            <div class="product-item">
              <div class="product-thumb">
                <a href="shop-single-product.html">
                  <img src="{% static 'assets/img/shop/25_ger.jpg' %}" alt="Moren-Shop">
                  <span class="thumb-overlay"></span>
                </a>
                <div class="product-action">
                  <a class="action-quick-view ht-tooltip" data-tippy-content="Quick View" href="javascript:void(0);" title="Wishlist">
                    <i class="lastudioicon-search-zoom-in"></i>
                  </a>
                  <a class="action-compare ht-tooltip" data-tippy-content="Add to compare" href="shop-compare.html" title="Add to compare">
                    <i class="lastudioicon-compare"></i>
                  </a>
                </div>
              </div>
              <div class="product-info">
                <div class="content-inner">                  
                  <h4 class="title"><a href="shop-single-product.html">SHORTS WITH TURN-UP HEMS</a></h4>
                  <div class="prices">
                    <span class="price">S/79.90</span>
                  </div>
                </div>
                <div class="product-info-action">
                  <a class="action-wishlist ht-tooltip" data-tippy-content="Add to wishlist" href="shop-wishlist.html" title="Add to wishlist">
                    <i class="lastudioicon-heart-2"></i>
                  </a>
                  <a class="action-cart ht-tooltip" data-tippy-content="Add to cart" href="shop-cart.html" title="Add to cart">
                    <i class="lastudioicon-bag-3"></i>
                  </a>
                </div>
              </div>
            </div>
            <!-- End Product Item -->
          </div>
          <div class="col-sm-6 col-lg-4">
            <!-- Start Product Item -->
            <div class="product-item">
              <div class="product-thumb">
                <a href="shop-single-product.html">
                  <img src="{% static 'assets/img/shop/26_ger.jpg' %}" alt="Moren-Shop">
                  <span class="thumb-overlay"></span>
                </a>
                <div class="product-action">
                  <a class="action-quick-view ht-tooltip" data-tippy-content="Quick View" href="javascript:void(0);" title="Wishlist">
                    <i class="lastudioicon-search-zoom-in"></i>
                  </a>
                  <a class="action-compare ht-tooltip" data-tippy-content="Add to compare" href="shop-compare.html" title="Add to compare">
                    <i class="lastudioicon-compare"></i>
                  </a>
                </div>
              </div>
              <div class="product-info">
                <div class="content-inner">                  
                  <h4 class="title"><a href="shop-single-product.html">BUTTONED WAISTCOAT</a></h4>
                  <div class="prices">
                    <span class="price">S/49.90</span>
                  </div>
                </div>
                <div class="product-info-action">
                  <a class="action-wishlist ht-tooltip" data-tippy-content="Add to wishlist" href="shop-wishlist.html" title="Add to wishlist">
                    <i class="lastudioicon-heart-2"></i>
                  </a>
                  <a class="action-cart ht-tooltip" data-tippy-content="Add to cart" href="shop-cart.html" title="Add to cart">
                    <i class="lastudioicon-bag-3"></i>
                  </a>
                </div>
              </div>
            </div>
            <!-- End Product Item -->
          </div>
          <div class="col-sm-6 col-lg-4">
            <!-- Start Product Item -->
            <div class="product-item">
              <div class="product-thumb">
                <a href="shop-single-product.html">
                  <img src="{% static 'assets/img/shop/27_ger.jpg' %}" alt="Moren-Shop">
                  <span class="thumb-overlay"></span>
                </a>
                <div class="product-action">
                  <a class="action-quick-view ht-tooltip" data-tippy-content="Quick View" href="javascript:void(0);" title="Wishlist">
                    <i class="lastudioicon-search-zoom-in"></i>
                  </a>
                  <a class="action-compare ht-tooltip" data-tippy-content="Add to compare" href="shop-compare.html" title="Add to compare">
                    <i class="lastudioicon-compare"></i>
                  </a>
                </div>
              </div>
              <div class="product-info">
                <div class="content-inner">                  
                  <h4 class="title"><a href="shop-single-product.html">PRINTED SURPLICE BLOUSE</a></h4>
                  <div class="prices">
                    <span class="price">S/129.90</span>
                  </div>
                </div>
                <div class="product-info-action">
                  <a class="action-wishlist ht-tooltip" data-tippy-content="Add to wishlist" href="shop-wishlist.html" title="Add to wishlist">
                    <i class="lastudioicon-heart-2"></i>
                  </a>
                  <a class="action-cart ht-tooltip" data-tippy-content="Add to cart" href="shop-cart.html" title="Add to cart">
                    <i class="lastudioicon-bag-3"></i>
                  </a>
                </div>
              </div>
            </div>
            <!-- End Product Item -->
          </div>
          <div class="col-md-12 text-center">
            <a href="shop.html" class="btn-theme btn-black btn-border btn-size-lg text-uppercase">View All</a>
          </div>
        </div>
      </div>
    </section>
    <!--== End Products Area Wrapper ==-->

 
    <!--== Start Outfit Products Area Wrapper ==-->
    <section class="product-area outfit-product-area">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-lg-6 m-auto">
            <div class="section-title text-center" data-aos="fade-up" data-aos-duration="1000">
              <h2 class="title">OUTFIT DEL DÍA</h2>
            </div>
          </div>
        </div>
        <div class="row" data-aos="fade-up" data-aos-duration="1200">
          <div class="col-lg-12">
            <div class="items-align">
              <div class="align-left">
                <div class="category-items-style4 mb-xs-50">
                  <!-- Start Category Item -->
                  <div class="category-item">
                    <div class="thumb">
                      <a href="shop.html"><img src="{% static 'assets/img/shop/category/n1_ger.jpg' %}" alt="Moren-Shop"></a>
                    </div>
                    <div class="content">
                      <h4 class="title">New In</h4>
                    </div>
                  </div>
                  <!-- End Category Item -->
                </div>
              </div>
              <div class="align-right">
                <div class="row row-gutter-50">
                  <div class="col-md-12 col-lg-6">
                    <!-- Start Product Item -->
                    <div class="product-item">
                      <div class="product-thumb">
                        <a href="shop-single-product.html">
                          <img src="{% static 'assets/img/shop/35_ger.jpg' %}" alt="Moren-Shop">
                          <span class="thumb-overlay overlay-black-7"></span>
                        </a>
                        <div class="product-action action-style2">
                          <a class="action-cart ht-tooltip" data-tippy-content="Add to cart" href="shop-cart.html" title="Add to cart">
                            <i class="lastudioicon-shopping-cart-3"></i>
                          </a>
                          <a class="action-quick-view ht-tooltip" data-tippy-content="Quick View" href="javascript:void(0);" title="Wishlist">
                            <i class="lastudioicon-search-zoom-in"></i>
                          </a>
                          <a class="action-wishlist ht-tooltip" data-tippy-content="Add to wishlist" href="shop-wishlist.html" title="Add to wishlist">
                            <i class="lastudioicon-heart-2"></i>
                          </a>
                          <a class="action-compare ht-tooltip" data-tippy-content="Add to compare" href="shop-compare.html" title="Add to compare">
                            <i class="lastudioicon-compare"></i>
                          </a>
                        </div>
                        <div class="product-action-info action-info-style2">
                          <div class="content-inner">
                            <h4 class="title"><a href="shop-single-product.html">Plain Seamed T-shirt</a></h4>
                            <div class="prices">
                              <span class="price">S/49.00</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- End Product Item -->
                  </div>
                  <div class="col-md-12 col-lg-6">
                    <!-- Start Product Item -->
                    <div class="product-item">
                      <div class="product-thumb">
                        <a href="shop-single-product.html">
                          <img src="{% static 'assets/img/shop/36_ger.jpg' %}" alt="Moren-Shop">
                          <span class="thumb-overlay overlay-black-7"></span>
                        </a>
                        <div class="product-action action-style2">
                          <a class="action-cart ht-tooltip" data-tippy-content="Add to cart" href="shop-cart.html" title="Add to cart">
                            <i class="lastudioicon-shopping-cart-3"></i>
                          </a>
                          <a class="action-quick-view ht-tooltip" data-tippy-content="Quick View" href="javascript:void(0);" title="Wishlist">
                            <i class="lastudioicon-search-zoom-in"></i>
                          </a>
                          <a class="action-wishlist ht-tooltip" data-tippy-content="Add to wishlist" href="shop-wishlist.html" title="Add to wishlist">
                            <i class="lastudioicon-heart-2"></i>
                          </a>
                          <a class="action-compare ht-tooltip" data-tippy-content="Add to compare" href="shop-compare.html" title="Add to compare">
                            <i class="lastudioicon-compare"></i>
                          </a>
                        </div>
                        <div class="product-action-info action-info-style2">
                          <div class="content-inner">
                            <h4 class="title"><a href="shop-single-product.html">Plain Seamed T-shirt</a></h4>
                            <div class="prices">
                              <span class="price">S/29.00</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- End Product Item -->
                  </div>
                  <div class="col-md-12 col-lg-6">
                    <!-- Start Product Item -->
                    <div class="product-item">
                      <div class="product-thumb">
                        <a href="shop-single-product.html">
                          <img src="{% static 'assets/img/shop/37_ger.jpg' %}" alt="Moren-Shop">
                          <span class="thumb-overlay overlay-black-7"></span>
                        </a>
                        <div class="product-action action-style2">
                          <a class="action-cart ht-tooltip" data-tippy-content="Add to cart" href="shop-cart.html" title="Add to cart">
                            <i class="lastudioicon-shopping-cart-3"></i>
                          </a>
                          <a class="action-quick-view ht-tooltip" data-tippy-content="Quick View" href="javascript:void(0);" title="Wishlist">
                            <i class="lastudioicon-search-zoom-in"></i>
                          </a>
                          <a class="action-wishlist ht-tooltip" data-tippy-content="Add to wishlist" href="shop-wishlist.html" title="Add to wishlist">
                            <i class="lastudioicon-heart-2"></i>
                          </a>
                          <a class="action-compare ht-tooltip" data-tippy-content="Add to compare" href="shop-compare.html" title="Add to compare">
                            <i class="lastudioicon-compare"></i>
                          </a>
                        </div>
                        <div class="product-action-info action-info-style2">
                          <div class="content-inner">
                            <h4 class="title"><a href="shop-single-product.html">Plain Seamed T-shirt</a></h4>
                            <div class="prices">
                              <span class="price">S/79.00</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- End Product Item -->
                  </div>
                  <div class="col-md-12 col-lg-6">
                    <!-- Start Product Item -->
                    <div class="product-item">
                      <div class="product-thumb">
                        <a href="shop-single-product.html">
                          <img src="{% static 'assets/img/shop/38_ger.jpg' %}" alt="Moren-Shop">
                          <span class="thumb-overlay overlay-black-7"></span>
                        </a>
                        <div class="product-action action-style2">
                          <a class="action-cart ht-tooltip" data-tippy-content="Add to cart" href="shop-cart.html" title="Add to cart">
                            <i class="lastudioicon-shopping-cart-3"></i>
                          </a>
                          <a class="action-quick-view ht-tooltip" data-tippy-content="Quick View" href="javascript:void(0);" title="Wishlist">
                            <i class="lastudioicon-search-zoom-in"></i>
                          </a>
                          <a class="action-wishlist ht-tooltip" data-tippy-content="Add to wishlist" href="shop-wishlist.html" title="Add to wishlist">
                            <i class="lastudioicon-heart-2"></i>
                          </a>
                          <a class="action-compare ht-tooltip" data-tippy-content="Add to compare" href="shop-compare.html" title="Add to compare">
                            <i class="lastudioicon-compare"></i>
                          </a>
                        </div>
                        <div class="product-action-info action-info-style2">
                          <div class="content-inner">
                            <h4 class="title"><a href="shop-single-product.html">Plain Seamed T-shirt</a></h4>
                            <div class="prices">
                              <span class="price">S/99.00</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- End Product Item -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="items-align2">
              <div class="align-left">
                <div class="row row-gutter-50">
                  <div class="col-md-12 col-lg-6">
                    <!-- Start Product Item -->
                    <div class="product-item">
                      <div class="product-thumb">
                        <a href="shop-single-product.html">
                          <img src="{% static 'assets/img/shop/40_ger.jpg' %}" alt="Moren-Shop">
                          <span class="thumb-overlay overlay-black-7"></span>
                        </a>
                        <div class="product-action action-style2">
                          <a class="action-cart ht-tooltip" data-tippy-content="Add to cart" href="shop-cart.html" title="Add to cart">
                            <i class="lastudioicon-shopping-cart-3"></i>
                          </a>
                          <a class="action-quick-view ht-tooltip" data-tippy-content="Quick View" href="javascript:void(0);" title="Wishlist">
                            <i class="lastudioicon-search-zoom-in"></i>
                          </a>
                          <a class="action-wishlist ht-tooltip" data-tippy-content="Add to wishlist" href="shop-wishlist.html" title="Add to wishlist">
                            <i class="lastudioicon-heart-2"></i>
                          </a>
                          <a class="action-compare ht-tooltip" data-tippy-content="Add to compare" href="shop-compare.html" title="Add to compare">
                            <i class="lastudioicon-compare"></i>
                          </a>
                        </div>
                        <div class="product-action-info action-info-style2">
                          <div class="content-inner">
                            <h4 class="title"><a href="shop-single-product.html">Plain Seamed T-shirt</a></h4>
                            <div class="prices">
                              <span class="price">S/129.00</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- End Product Item -->
                  </div>
                  <div class="col-md-12 col-lg-6">
                    <!-- Start Product Item -->
                    <div class="product-item">
                      <div class="product-thumb">
                        <a href="shop-single-product.html">
                          <img src="{% static 'assets/img/shop/41_ger.jpg' %}" alt="Moren-Shop">
                          <span class="thumb-overlay overlay-black-7"></span>
                        </a>
                        <div class="product-action action-style2">
                          <a class="action-cart ht-tooltip" data-tippy-content="Add to cart" href="shop-cart.html" title="Add to cart">
                            <i class="lastudioicon-shopping-cart-3"></i>
                          </a>
                          <a class="action-quick-view ht-tooltip" data-tippy-content="Quick View" href="javascript:void(0);" title="Wishlist">
                            <i class="lastudioicon-search-zoom-in"></i>
                          </a>
                          <a class="action-wishlist ht-tooltip" data-tippy-content="Add to wishlist" href="shop-wishlist.html" title="Add to wishlist">
                            <i class="lastudioicon-heart-2"></i>
                          </a>
                          <a class="action-compare ht-tooltip" data-tippy-content="Add to compare" href="shop-compare.html" title="Add to compare">
                            <i class="lastudioicon-compare"></i>
                          </a>
                        </div>
                        <div class="product-action-info action-info-style2">
                          <div class="content-inner">
                            <h4 class="title"><a href="shop-single-product.html">Plain Seamed T-shirt</a></h4>
                            <div class="prices">
                              <span class="price">S/89.00</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- End Product Item -->
                  </div>
                  <div class="col-md-12 col-lg-6">
                    <!-- Start Product Item -->
                    <div class="product-item">
                      <div class="product-thumb">
                        <a href="shop-single-product.html">
                          <img src="{% static 'assets/img/shop/42_ger.jpg' %}" alt="Moren-Shop">
                          <span class="thumb-overlay overlay-black-7"></span>
                        </a>
                        <div class="product-action action-style2">
                          <a class="action-cart ht-tooltip" data-tippy-content="Add to cart" href="shop-cart.html" title="Add to cart">
                            <i class="lastudioicon-shopping-cart-3"></i>
                          </a>
                          <a class="action-quick-view ht-tooltip" data-tippy-content="Quick View" href="javascript:void(0);" title="Wishlist">
                            <i class="lastudioicon-search-zoom-in"></i>
                          </a>
                          <a class="action-wishlist ht-tooltip" data-tippy-content="Add to wishlist" href="shop-wishlist.html" title="Add to wishlist">
                            <i class="lastudioicon-heart-2"></i>
                          </a>
                          <a class="action-compare ht-tooltip" data-tippy-content="Add to compare" href="shop-compare.html" title="Add to compare">
                            <i class="lastudioicon-compare"></i>
                          </a>
                        </div>
                        <div class="product-action-info action-info-style2">
                          <div class="content-inner">
                            <h4 class="title"><a href="shop-single-product.html">Plain Seamed T-shirt</a></h4>
                            <div class="prices">
                              <span class="price">S/69.00</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- End Product Item -->
                  </div>
                  <div class="col-md-12 col-lg-6">
                    <!-- Start Product Item -->
                    <div class="product-item">
                      <div class="product-thumb">
                        <a href="shop-single-product.html">
                          <img src="{% static 'assets/img/shop/42_ger.jpg' %}" alt="Moren-Shop">
                          <span class="thumb-overlay overlay-black-7"></span>
                        </a>
                        <div class="product-action action-style2">
                          <a class="action-cart ht-tooltip" data-tippy-content="Add to cart" href="shop-cart.html" title="Add to cart">
                            <i class="lastudioicon-shopping-cart-3"></i>
                          </a>
                          <a class="action-quick-view ht-tooltip" data-tippy-content="Quick View" href="javascript:void(0);" title="Wishlist">
                            <i class="lastudioicon-search-zoom-in"></i>
                          </a>
                          <a class="action-wishlist ht-tooltip" data-tippy-content="Add to wishlist" href="shop-wishlist.html" title="Add to wishlist">
                            <i class="lastudioicon-heart-2"></i>
                          </a>
                          <a class="action-compare ht-tooltip" data-tippy-content="Add to compare" href="shop-compare.html" title="Add to compare">
                            <i class="lastudioicon-compare"></i>
                          </a>
                        </div>
                        <div class="product-action-info action-info-style2">
                          <div class="content-inner">
                            <h4 class="title"><a href="shop-single-product.html">Plain Seamed T-shirt</a></h4>
                            <div class="prices">
                              <span class="price">S/109.00</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- End Product Item -->
                  </div>
                </div>
              </div>
              <div class="align-right">
                <div class="category-items-style4 mb-xs-80">
                  <!-- Start Category Item -->
                  <div class="category-item">
                    <div class="thumb">
                      <a href="shop.html"><img src="{% static 'assets/img/shop/category/n2_ger.jpg' %}" alt="Moren-Shop"></a>
                    </div>
                    <div class="content">
                      <h4 class="title">New In</h4>
                    </div>
                  </div>
                  <!-- End Category Item -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Outfit Products Area Wrapper ==-->

    <!--== Start Newsletter Area ==-->
    <section class="newsletter-area bg-overlay2-6 bg-img">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 m-auto">
            <div class="newsletter-content content-style2" data-aos="fade-up" data-aos-duration="1000">
              <h1 class="title">Boletín Informativo</h1>
              <p>Suscríbete para recibir notificaciones sobre descuentos y actualizaciones recientes. ¡No te preocupes, no enviamos spam!</p>
              <form class="newsletter-form" action="#">
                <input class="form-control" type="text" id="email" placeholder="Ingresa tu correo electrónico aquí">
                <button class="btn btn-submit" type="submit"><i class="lastudioicon-arrow-right"></i></button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Newsletter Area ==-->
  </main>

 
  <!--== Scroll Top Button ==-->
  <div class="scroll-to-top"><span class="icofont-arrow-up"></span></div>

  <!--== Start Product Quick View ==-->
  <aside class="product-quick-view-modal">
    <div class="product-quick-view-inner">
      <div class="product-quick-view-content">
        <button type="button" class="btn-close">
          <span class="close-icon"><i class="lastudioicon-e-remove"></i></span>
        </button>
        <div class="row row-gutter-0">
          <div class="col-lg-6 col-md-6 col-12">
            <div class="thumb">
              <img src="assets/img/shop/quick-view1.jpg" alt="Moren-Shop">
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-12">
            <div class="single-product-info">
              <h4 class="title">Product Simple</h4>
              <div class="product-rating">
                <div class="review">
                  <p><span></span>99 in stock</p>
                </div>
              </div>
              <div class="prices">
                <span class="price">£49.90</span>
              </div>
              <p class="product-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fringilla quis ipsum enim viverra. Enim in morbi tincidunt ante luctus tincidunt integer. Sed adipiscing vehicula.</p>
              <div class="quick-product-action">
                <div class="action-top">
                  <div class="pro-qty-area">
                    <div class="pro-qty">
                      <input type="text" id="quantity" title="Quantity" value="1">
                    <a href="#" class="inc qty-btn">+</a><a href="#" class="dec qty-btn">-</a></div>
                  </div>
                  <a class="btn-theme btn-black" href="shop-cart.html">Add to cart</a>
                </div>
                <div class="action-bottom">
                  <a class="btn-wishlist" href="shop-wishlist.html"><i class="labtn-icon labtn-icon-wishlist"></i>Add to wishlist</a>
                  <a class="btn-compare" href="shop-compare.html"><i class="labtn-icon labtn-icon-compare"></i>Add to compare</a>
                </div>
              </div>
              <div class="product-ratting">
                <div class="product-sku">
                  SKU: <span>REF. LA-276</span>
                </div>
              </div>
              <div class="product-categorys">
                <div class="product-category">
                  Category: <span>Uncategorized</span>
                </div>
              </div>
              <div class="widget">
                <h3 class="title">Tags:</h3>
                <div class="widget-tags">
                  <ul>
                    <li><a href="shop.html">Blazer,</a></li>
                    <li><a href="shop.html">Fashion,</a></li>
                    <li><a href="shop.html">wordpress,</a></li>
                  </ul>
                </div>
              </div>
              <div class="product-social-info">
                <a href="#"><span class="lastudioicon-b-facebook"></span></a>
                <a href="#"><span class="lastudioicon-b-twitter"></span></a>
                <a href="#"><span class="lastudioicon-b-linkedin"></span></a>
                <a href="#"><span class="lastudioicon-b-pinterest"></span></a>
              </div>
              <div class="product-nextprev">
                <a href="shop-single-product.html">
                  <i class="lastudioicon-arrow-left"></i>
                </a>
                <a href="shop-single-product.html">
                  <i class="lastudioicon-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="canvas-overlay"></div>
  </aside>
  <!--== End Product Quick View ==-->

  <!--== Start Aside Search Menu ==-->
  <div class="search-box-wrapper">
    <div class="search-box-content-inner">
      <div class="search-box-form-wrap">
        <div class="search-note">
          <p>Start typing and press Enter to search</p>
        </div>
        <form action="#" method="post">
          <div class="search-form position-relative">
            <label for="search-input" class="sr-only">Search</label>
            <input type="search" class="form-control" placeholder="Search" id="search-input">
            <button class="search-button"><i class="lastudioicon-zoom-1"></i></button>
          </div>
        </form>
      </div>
    </div>
    <!--== End Aside Search Menu ==-->
    <a href="javascript:;" class="search-close"><i class="lastudioicon-e-remove"></i></a>
  </div>
  <!--== End Aside Search Menu ==-->

  <!--== Start Sidebar Cart Menu ==-->
  <aside class="sidebar-cart-modal">
    <div class="sidebar-cart-inner">
      <div class="sidebar-cart-content">
        <a class="cart-close" href="javascript:void(0);"><i class="lastudioicon-e-remove"></i></a>
        <div class="sidebar-cart">
          <h4 class="sidebar-cart-title">Shopping Cart</h4>
          <div class="product-cart">
            <div class="product-cart-item">
              <div class="product-img">
                <a href="shop.html"><img src="assets/img/shop/cart/1.jpg" alt=""></a>
              </div>
              <div class="product-info">
                <h4 class="title"><a href="shop.html">I’m a Unicorn Earrings</a></h4>
                <span class="info">1 × £69.00</span>
              </div>
              <div class="product-delete"><a href="#/">×</a></div>
            </div>
            <div class="product-cart-item">
              <div class="product-img">
                <a href="shop.html"><img src="assets/img/shop/cart/2.jpg" alt=""></a>
              </div>
              <div class="product-info">
                <h4 class="title"><a href="shop.html">Knit cropped cardigan</a></h4>
                <span class="info">1 × £29.90</span>
              </div>
              <div class="product-delete"><a href="#/">×</a></div>
            </div>
          </div>
          <div class="cart-total">
            <h4>Subtotal: <span class="money">£98.90</span></h4>
          </div>
          <div class="shipping-info">
            <div class="loading-bar">
              <div class="load-percent"></div>
              <div class="label-free-shipping">
                <div class="free-shipping svg-icon-style">
                  <span class="svg-icon" id="svg-icon-shipping" data-svg-icon="assets/img/icons/shop1.svg"></span>
                </div>
                <p>Spend £101.10 to get Free Shipping</p>
              </div>
            </div>
          </div>
          <div class="cart-checkout-btn">
            <a class="btn-theme" href="shop-cart.html">View cart</a>
            <a class="btn-theme" href="shop-checkout.html">Checkout</a>
          </div>
        </div>
      </div>
    </div>
  </aside>
  <div class="sidebar-cart-overlay"></div>
  <!--== End Sidebar Cart Menu ==-->

  <!--== Start Side Menu ==-->
  <aside class="off-canvas-wrapper canvas-fullpage-menu fullpage-menu-style2">
    <div class="off-canvas-inner">
      <div class="off-canvas-overlay"></div>
      <!-- Start Off Canvas Content Wrapper -->
      <div class="off-canvas-content">
        <!-- Off Canvas Header -->
        <div class="off-canvas-header">
          <div class="close-action">
            <button class="btn-close"><i class="lastudioicon-e-remove"></i></button>
          </div>
        </div>

        <div class="off-canvas-item">
          <!-- Start Mobile Menu Wrapper -->
          <div class="res-mobile-menu">
            <!-- Note Content Auto Generate By Jquery From Main Menu -->
          </div>
          <!-- End Mobile Menu Wrapper -->
        </div>
        <!-- Off Canvas Footer -->
        <div class="off-canvas-footer"></div>
      </div>
      <!-- End Off Canvas Content Wrapper -->
    </div>
  </aside>
  <!--== End Side Menu ==-->
</div>

{% endblock %}



