{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Beloved</title>

    <!--== Favicon ==-->
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon" />

    <!--== Google Fonts ==-->
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface:400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,600,700,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,600,700,900,900i" rel="stylesheet">

    <!--== Bootstrap CSS ==-->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet"/>
    <!--== Font-awesome Icons CSS ==-->
    <link href="{% static 'assets/css/font-awesome.min.css' %}" rel="stylesheet"/>
    <!--== Icofont Min Icons CSS ==-->
    <link href="{% static 'assets/css/icofont.min.css' %}" rel="stylesheet"/>
    <!--== lastudioIcons CSS ==-->
    <link href="{% static 'assets/css/lastudioIcons.css' %}" rel="stylesheet"/>
    <!--== Animate CSS ==-->
    <link href="{% static 'assets/css/animate.css' %}" rel="stylesheet"/>
    <!--== Aos CSS ==-->
    <link href="{% static 'assets/css/aos.css' %}" rel="stylesheet"/>
    <!--== FancyBox CSS ==-->
    <link href="{% static 'assets/css/jquery.fancybox.min.css' %}" rel="stylesheet"/>
    <!--== Slicknav CSS ==-->
    <link href="{% static 'assets/css/slicknav.css' %}" rel="stylesheet"/>
    <!--== Swiper CSS ==-->
    <link href="{% static 'assets/css/swiper.min.css' %}" rel="stylesheet"/>
    <!--== Slick CSS ==-->
    <link href="{% static 'assets/css/slick.css' %}" rel="stylesheet"/>
    <!--== Main Style CSS ==-->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />

</head>

<body>

<!--wrapper start-->
<div class="wrapper shop-masonry-wrapper">

  <!--== Start Preloader Content ==-->
  <div class="preloader-wrap">
    <div class="preloader">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!--== End Preloader Content ==-->

  <!--== Start Header Wrapper ==-->
  <header class="header-area header-default sticky-header">
    <div class="container-fluid">
      <div class="row row-gutter-0 align-items-center">
        <div class="col-4 col-xs-3 col-sm-3 col-md-3 col-xl-2 col-xxl-3">
          <div class="header-logo-area">
            <a href="{% url 'home' %}">
              <img class="logo-main" src="{% static 'assets/img/logo-main_2.svg' %}" alt="Logo" />
              <img class="logo-light" src="{% static 'assets/img/logo-main_2.svg' %}" alt="Logo" />
            </a>
          </div>
        </div>
        <div class="col-md-7 col-xl-7 col-xxl-6 d-none d-xl-block">
          <div class="header-align">
            <div class="header-navigation-area">
              <ul class="main-menu nav justify-content-center position-relative">
                <li><a href="{% url 'home' %}">NEW ARRIVALS</a>
                 
                </li>
                <li class="has-submenu"><a href="{% url 'girls' %}">NIÑAS</a>
                </li>
                <li class="has-submenu"><a href="{% url 'boys' %}">NIÑOS</a>
                <li><a href="shop-collections.html">SALE</a></li>

                  </ul>
                </li>

                </li>
                
              </ul>
            </div>
          </div>
        </div>
        <div class="col-8 col-xs-9 col-sm-9 col-md-9 col-xl-3 col-xxl-3">
          <div class="header-action-area">
            <div class="header-action-search">
              <button class="btn-search btn-search-menu">
                <i class="lastudioicon-zoom-1"></i>
              </button>
            </div>
            <div class="header-action-login">
              <button class="btn-login" onclick="window.location.href='login.html'">
                <i class="lastudioicon-single-01-2"></i>
              </button>
            </div>
            <div class="header-action-cart">
              <button class="btn-cart cart-icon">
                <span class="cart-count">2</span>
                <i class="lastudioicon-shopping-cart-2"></i>
              </button>
            </div>
            <button class="btn-menu d-xl-none">
              <i class="lastudioicon-menu-3-1"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!--== End Header Wrapper ==-->
  
  <main class="main-content">
    <!--== Start Page Title Area ==-->
    <section class="page-title-area bg-img" data-bg-img="assets/img/photos/bg-page1.jpg">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="page-title-content">
              <h2 class="title">TOPS</h2>
              <div class="bread-crumbs"><a href="index.html">INICIO<span class="breadcrumb-sep">></span></a><span class="active">DRESSES</span></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Page Title Area ==-->

    <!--== Start Products Area Wrapper ==-->
    <section class="product-area shop-masonry-area">
      <div class="container-fluid">
        <div class="row row-gutter-0">
          <div class="col-md-12">
            <div class="shop-toolbar-wrap">
              <div class="shop-toolbar-left">
                <div class="product-showing-status">
                  <p class="count-result">Showing 1–18 of 88 results</p>
                </div>
              </div>
              <div class="shop-toolbar-right">
                <div class="product-sorting-menu product-view-count">
                  <span class="current">Show 12 <i class="lastudioicon-down-arrow"></i></span>
                  <ul>
                    <li class="active"><a href="shop.html" class="active">Show 12</a></li>
                    <li><a href="shop.html">Show 15</a></li>
                    <li><a href="shop.html">Show 30</a></li>
                  </ul>
                </div>
                <div class="product-sorting-menu product-view-count">
                  <span class="current">Filters <i class="lastudioicon-down-arrow"></i></span>
                  <ul>
                    <li class="active"><a href="shop.html" class="active">Filters</a></li>
                    <li><a href="shop.html">Categories</a></li>
                    <li><a href="shop.html">Tags</a></li>
                  </ul>
                </div>
                <div class="product-sorting-menu product-sorting">
                  <span class="current">Sort by Default <i class="lastudioicon-down-arrow"></i></span>
                  <ul>
                    <li class="active"><a href="shop.html" class="active">Sort by Default</a></li>
                    <li><a href="shop.html">Sort by Popularity</a></li>
                    <li><a href="shop.html">Sort by Rated</a></li>
                    <li><a href="shop.html">Sort by Latest</a></li>
                    <li><a href="shop.html">Sort by Price: <i class="lastudioicon-arrow-up"></i></a></li>
                    <li><a href="shop.html">Sort by Price: <i class="lastudioicon-arrow-down"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <!-- Start Product Item -->
            <div class="product-item">
              <div class="product-thumb">
                <a href="shop-single-product.html">
                  <img src="{% static 'assets/img/shop/masonry/1.jpg' %}" alt="Moren-Shop">
                  <span class="thumb-overlay overlay-black-7"></span>
                </a>
                <div class="product-action action-style2">
                  <a class="action-cart ht-tooltip" data-tippy-content="Add to cart" href="shop-cart.html" title="Add to cart">
                    <i class="lastudioicon-shopping-cart-3"></i>
                  </a>
                  <a class="action-quick-view ht-tooltip" data-tippy-content="Quick View" href="javascript:void(0);" title="Wishlist">
                    <i class="lastudioicon-search-zoom-in"></i>
                  </a>
                  <a class="action-wishlist ht-tooltip" data-tippy-content="Add to wishlist" href="shop-wishlist.html" title="Add to wishlist">
                    <i class="lastudioicon-heart-2"></i>
                  </a>
                  <a class="action-compare ht-tooltip" data-tippy-content="Add to compare" href="shop-compare.html" title="Add to compare">
                    <i class="lastudioicon-compare"></i>
                  </a>
                </div>
                <div class="product-action-info action-info-style2">
                  <div class="content-inner">
                    <h4 class="title"><a href="shop-single-product.html">Believer Delicate Earrings</a></h4>
                    <div class="prices">
                      <span class="price">£69.00</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Product Item -->
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <!-- Start Product Item -->
            <div class="product-item">
              <div class="product-thumb">
                <a href="shop-single-product.html">
                  <img src="{% static 'assets/img/shop/masonry/2.jpg' %}" alt="Moren-Shop">
                  <span class="thumb-overlay overlay-black-7"></span>
                </a>
                <div class="product-action action-style2">
                  <a class="action-cart ht-tooltip" data-tippy-content="Add to cart" href="shop-cart.html" title="Add to cart">
                    <i class="lastudioicon-shopping-cart-3"></i>
                  </a>
                  <a class="action-quick-view ht-tooltip" data-tippy-content="Quick View" href="javascript:void(0);" title="Wishlist">
                    <i class="lastudioicon-search-zoom-in"></i>
                  </a>
                  <a class="action-wishlist ht-tooltip" data-tippy-content="Add to wishlist" href="shop-wishlist.html" title="Add to wishlist">
                    <i class="lastudioicon-heart-2"></i>
                  </a>
                  <a class="action-compare ht-tooltip" data-tippy-content="Add to compare" href="shop-compare.html" title="Add to compare">
                    <i class="lastudioicon-compare"></i>
                  </a>
                </div>
                <div class="product-action-info action-info-style2">
                  <div class="content-inner">
                    <h4 class="title"><a href="shop-single-product.html">Believer Delicate Earrings</a></h4>
                    <div class="prices">
                      <span class="price">£39.00</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Product Item -->
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <!-- Start Product Item -->
            <div class="product-item">
              <div class="product-thumb">
                <a href="shop-single-product.html">
                  <img src="{% static 'assets/img/shop/masonry/3.jpg' %}" alt="Moren-Shop">
                  <span class="thumb-overlay overlay-black-7"></span>
                </a>
                <div class="product-action action-style2">
                  <a class="action-cart ht-tooltip" data-tippy-content="Add to cart" href="shop-cart.html" title="Add to cart">
                    <i class="lastudioicon-shopping-cart-3"></i>
                  </a>
                  <a class="action-quick-view ht-tooltip" data-tippy-content="Quick View" href="javascript:void(0);" title="Wishlist">
                    <i class="lastudioicon-search-zoom-in"></i>
                  </a>
                  <a class="action-wishlist ht-tooltip" data-tippy-content="Add to wishlist" href="shop-wishlist.html" title="Add to wishlist">
                    <i class="lastudioicon-heart-2"></i>
                  </a>
                  <a class="action-compare ht-tooltip" data-tippy-content="Add to compare" href="shop-compare.html" title="Add to compare">
                    <i class="lastudioicon-compare"></i>
                  </a>
                </div>
                <div class="product-action-info action-info-style2">
                  <div class="content-inner">
                    <h4 class="title"><a href="shop-single-product.html">Black & Gold Forever Double Choker Necklace</a></h4>
                    <div class="prices">
                      <span class="price">£39.00</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Product Item -->
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <!-- Start Product Item -->
            <div class="product-item">
              <div class="product-thumb">
                <a href="shop-single-product.html">
                  <img src="{% static 'assets/img/shop/masonry/4.jpg' %}" alt="Moren-Shop">
                  <span class="thumb-overlay overlay-black-7"></span>
                </a>
                <div class="product-action action-style2">
                  <a class="action-cart ht-tooltip" data-tippy-content="Add to cart" href="shop-cart.html" title="Add to cart">
                    <i class="lastudioicon-shopping-cart-3"></i>
                  </a>
                  <a class="action-quick-view ht-tooltip" data-tippy-content="Quick View" href="javascript:void(0);" title="Wishlist">
                    <i class="lastudioicon-search-zoom-in"></i>
                  </a>
                  <a class="action-wishlist ht-tooltip" data-tippy-content="Add to wishlist" href="shop-wishlist.html" title="Add to wishlist">
                    <i class="lastudioicon-heart-2"></i>
                  </a>
                  <a class="action-compare ht-tooltip" data-tippy-content="Add to compare" href="shop-compare.html" title="Add to compare">
                    <i class="lastudioicon-compare"></i>
                  </a>
                </div>
                <div class="product-action-info action-info-style2">
                  <div class="content-inner">
                    <h4 class="title"><a href="shop-single-product.html">Black check texture shirt</a></h4>
                    <div class="prices">
                      <span class="price">£19.00</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Product Item -->
          </div>
          <div class="col-sm-6 col-md-6">
            <!-- Start Product Item -->
            <div class="product-item">
              <div class="product-thumb">
                <a href="shop-single-product.html">
                  <img src="{% static 'assets/img/shop/masonry/5.jpg' %}" alt="Moren-Shop">
                  <span class="thumb-overlay overlay-black-7"></span>
                </a>
                <div class="product-action action-style2">
                  <a class="action-cart ht-tooltip" data-tippy-content="Add to cart" href="shop-cart.html" title="Add to cart">
                    <i class="lastudioicon-shopping-cart-3"></i>
                  </a>
                  <a class="action-quick-view ht-tooltip" data-tippy-content="Quick View" href="javascript:void(0);" title="Wishlist">
                    <i class="lastudioicon-search-zoom-in"></i>
                  </a>
                  <a class="action-wishlist ht-tooltip" data-tippy-content="Add to wishlist" href="shop-wishlist.html" title="Add to wishlist">
                    <i class="lastudioicon-heart-2"></i>
                  </a>
                  <a class="action-compare ht-tooltip" data-tippy-content="Add to compare" href="shop-compare.html" title="Add to compare">
                    <i class="lastudioicon-compare"></i>
                  </a>
                </div>
                <div class="product-action-info action-info-style2">
                  <div class="content-inner">
                    <h4 class="title"><a href="shop-single-product.html">Black check texture shirt</a></h4>
                    <div class="prices">
                      <span class="price">£19.90</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Product Item -->
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <!-- Start Product Item -->
            <div class="product-item">
              <div class="product-thumb">
                <a href="shop-single-product.html">
                  <img src="{% static 'assets/img/shop/masonry/6.jpg' %}" alt="Moren-Shop">
                  <span class="thumb-overlay overlay-black-7"></span>
                </a>
                <div class="product-action action-style2">
                  <a class="action-cart ht-tooltip" data-tippy-content="Add to cart" href="shop-cart.html" title="Add to cart">
                    <i class="lastudioicon-shopping-cart-3"></i>
                  </a>
                  <a class="action-quick-view ht-tooltip" data-tippy-content="Quick View" href="javascript:void(0);" title="Wishlist">
                    <i class="lastudioicon-search-zoom-in"></i>
                  </a>
                  <a class="action-wishlist ht-tooltip" data-tippy-content="Add to wishlist" href="shop-wishlist.html" title="Add to wishlist">
                    <i class="lastudioicon-heart-2"></i>
                  </a>
                  <a class="action-compare ht-tooltip" data-tippy-content="Add to compare" href="shop-compare.html" title="Add to compare">
                    <i class="lastudioicon-compare"></i>
                  </a>
                </div>
                <div class="product-action-info action-info-style2">
                  <div class="content-inner">
                    <h4 class="title"><a href="shop-single-product.html">Blue wide-leg jeans</a></h4>
                    <div class="prices">
                      <span class="price">£35.90</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Product Item -->
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <!-- Start Product Item -->
            <div class="product-item">
              <div class="product-thumb">
                <a href="shop-single-product.html">
                  <img src="{% static 'assets/img/shop/masonry/7.jpg' %}" alt="Moren-Shop">
                  <span class="thumb-overlay overlay-black-7"></span>
                </a>
                <div class="product-action action-style2">
                  <a class="action-cart ht-tooltip" data-tippy-content="Add to cart" href="shop-cart.html" title="Add to cart">
                    <i class="lastudioicon-shopping-cart-3"></i>
                  </a>
                  <a class="action-quick-view ht-tooltip" data-tippy-content="Quick View" href="javascript:void(0);" title="Wishlist">
                    <i class="lastudioicon-search-zoom-in"></i>
                  </a>
                  <a class="action-wishlist ht-tooltip" data-tippy-content="Add to wishlist" href="shop-wishlist.html" title="Add to wishlist">
                    <i class="lastudioicon-heart-2"></i>
                  </a>
                  <a class="action-compare ht-tooltip" data-tippy-content="Add to compare" href="shop-compare.html" title="Add to compare">
                    <i class="lastudioicon-compare"></i>
                  </a>
                </div>
                <div class="product-action-info action-info-style2">
                  <div class="content-inner">
                    <h4 class="title"><a href="shop-single-product.html">Blue wide-leg jeans</a></h4>
                    <div class="prices">
                      <span class="price">£35.90</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Product Item -->
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <!-- Start Product Item -->
            <div class="product-item">
              <div class="product-thumb">
                <a href="shop-single-product.html">
                  <img src="{% static 'assets/img/shop/masonry/8.jpg' %}" alt="Moren-Shop">
                  <span class="thumb-overlay overlay-black-7"></span>
                </a>
                <div class="product-action action-style2">
                  <a class="action-cart ht-tooltip" data-tippy-content="Add to cart" href="shop-cart.html" title="Add to cart">
                    <i class="lastudioicon-shopping-cart-3"></i>
                  </a>
                  <a class="action-quick-view ht-tooltip" data-tippy-content="Quick View" href="javascript:void(0);" title="Wishlist">
                    <i class="lastudioicon-search-zoom-in"></i>
                  </a>
                  <a class="action-wishlist ht-tooltip" data-tippy-content="Add to wishlist" href="shop-wishlist.html" title="Add to wishlist">
                    <i class="lastudioicon-heart-2"></i>
                  </a>
                  <a class="action-compare ht-tooltip" data-tippy-content="Add to compare" href="shop-compare.html" title="Add to compare">
                    <i class="lastudioicon-compare"></i>
                  </a>
                </div>
                <div class="product-action-info action-info-style2">
                  <div class="content-inner">
                    <h4 class="title"><a href="shop-single-product.html">buttoned waistcoat</a></h4>
                    <div class="prices">
                      <span class="price">£45.90</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Product Item -->
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <!-- Start Product Item -->
            <div class="product-item">
              <div class="product-thumb">
                <a href="shop-single-product.html">
                  <img src="{% static 'assets/img/shop/masonry/9.jpg' %}" alt="Moren-Shop">
                  <span class="thumb-overlay overlay-black-7"></span>
                </a>
                <div class="product-action action-style2">
                  <a class="action-cart ht-tooltip" data-tippy-content="Add to cart" href="shop-cart.html" title="Add to cart">
                    <i class="lastudioicon-shopping-cart-3"></i>
                  </a>
                  <a class="action-quick-view ht-tooltip" data-tippy-content="Quick View" href="javascript:void(0);" title="Wishlist">
                    <i class="lastudioicon-search-zoom-in"></i>
                  </a>
                  <a class="action-wishlist ht-tooltip" data-tippy-content="Add to wishlist" href="shop-wishlist.html" title="Add to wishlist">
                    <i class="lastudioicon-heart-2"></i>
                  </a>
                  <a class="action-compare ht-tooltip" data-tippy-content="Add to compare" href="shop-compare.html" title="Add to compare">
                    <i class="lastudioicon-compare"></i>
                  </a>
                </div>
                <div class="product-action-info action-info-style2">
                  <div class="content-inner">
                    <h4 class="title"><a href="shop-single-product.html">Buttoned Waistcoat</a></h4>
                    <div class="prices">
                      <span class="price">£45.90</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Product Item -->
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <!-- Start Product Item -->
            <div class="product-item">
              <div class="product-thumb">
                <a href="shop-single-product.html">
                  <img src="{% static 'assets/img/shop/masonry/10.jpg' %}" alt="Moren-Shop">
                  <span class="thumb-overlay overlay-black-7"></span>
                </a>
                <div class="product-action action-style2">
                  <a class="action-cart ht-tooltip" data-tippy-content="Add to cart" href="shop-cart.html" title="Add to cart">
                    <i class="lastudioicon-shopping-cart-3"></i>
                  </a>
                  <a class="action-quick-view ht-tooltip" data-tippy-content="Quick View" href="javascript:void(0);" title="Wishlist">
                    <i class="lastudioicon-search-zoom-in"></i>
                  </a>
                  <a class="action-wishlist ht-tooltip" data-tippy-content="Add to wishlist" href="shop-wishlist.html" title="Add to wishlist">
                    <i class="lastudioicon-heart-2"></i>
                  </a>
                  <a class="action-compare ht-tooltip" data-tippy-content="Add to compare" href="shop-compare.html" title="Add to compare">
                    <i class="lastudioicon-compare"></i>
                  </a>
                </div>
                <div class="product-action-info action-info-style2">
                  <div class="content-inner">
                    <h4 class="title"><a href="shop-single-product.html">Disappearing Into the Sea Necklace</a></h4>
                    <div class="prices">
                      <span class="price">£39.00</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Product Item -->
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <!-- Start Product Item -->
            <div class="product-item">
              <div class="product-thumb">
                <a href="shop-single-product.html">
                  <img src="{% static 'assets/img/shop/masonry/11.jpg' %}" alt="Moren-Shop">
                  <span class="thumb-overlay overlay-black-7"></span>
                </a>
                <div class="product-action action-style2">
                  <a class="action-cart ht-tooltip" data-tippy-content="Add to cart" href="shop-cart.html" title="Add to cart">
                    <i class="lastudioicon-shopping-cart-3"></i>
                  </a>
                  <a class="action-quick-view ht-tooltip" data-tippy-content="Quick View" href="javascript:void(0);" title="Wishlist">
                    <i class="lastudioicon-search-zoom-in"></i>
                  </a>
                  <a class="action-wishlist ht-tooltip" data-tippy-content="Add to wishlist" href="shop-wishlist.html" title="Add to wishlist">
                    <i class="lastudioicon-heart-2"></i>
                  </a>
                  <a class="action-compare ht-tooltip" data-tippy-content="Add to compare" href="shop-compare.html" title="Add to compare">
                    <i class="lastudioicon-compare"></i>
                  </a>
                </div>
                <div class="product-action-info action-info-style2">
                  <div class="content-inner">
                    <h4 class="title"><a href="shop-single-product.html">Disappearing Into the Sea Necklace</a></h4>
                    <div class="prices">
                      <span class="price">£49.00</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Product Item -->
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <!-- Start Product Item -->
            <div class="product-item">
              <div class="product-thumb">
                <a href="shop-single-product.html">
                  <img src="{% static 'assets/img/shop/masonry/12.jpg' %}" alt="Moren-Shop">
                  <span class="bg-thumb" data-bg-img="assets/img/shop/masonry/13.jpg"></span>
                  <span class="thumb-overlay overlay-black-7"></span>
                </a>
                <div class="product-action action-style2">
                  <a class="action-cart ht-tooltip" data-tippy-content="Add to cart" href="shop-cart.html" title="Add to cart">
                    <i class="lastudioicon-shopping-cart-3"></i>
                  </a>
                  <a class="action-quick-view ht-tooltip" data-tippy-content="Quick View" href="javascript:void(0);" title="Wishlist">
                    <i class="lastudioicon-search-zoom-in"></i>
                  </a>
                  <a class="action-wishlist ht-tooltip" data-tippy-content="Add to wishlist" href="shop-wishlist.html" title="Add to wishlist">
                    <i class="lastudioicon-heart-2"></i>
                  </a>
                  <a class="action-compare ht-tooltip" data-tippy-content="Add to compare" href="shop-compare.html" title="Add to compare">
                    <i class="lastudioicon-compare"></i>
                  </a>
                </div>
                <div class="product-action-info action-info-style2">
                  <div class="content-inner">
                    <h4 class="title"><a href="shop-single-product.html">Double Breasted Blazer</a></h4>
                    <div class="prices">
                      <span class="price">£49.90</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Product Item -->
          </div>
          <div class="col-sm-6 col-md-6">
            <!-- Start Product Item -->
            <div class="product-item">
              <div class="product-thumb">
                <a href="shop-single-product.html">
                  <img src="{% static 'assets/img/shop/masonry/14.jpg' %}" alt="Moren-Shop">
                  <span class="bg-thumb" data-bg-img="assets/img/shop/masonry/15.jpg"></span>
                  <span class="thumb-overlay overlay-black-7"></span>
                </a>
                <div class="product-action action-style2">
                  <a class="action-cart ht-tooltip" data-tippy-content="Add to cart" href="shop-cart.html" title="Add to cart">
                    <i class="lastudioicon-shopping-cart-3"></i>
                  </a>
                  <a class="action-quick-view ht-tooltip" data-tippy-content="Quick View" href="javascript:void(0);" title="Wishlist">
                    <i class="lastudioicon-search-zoom-in"></i>
                  </a>
                  <a class="action-wishlist ht-tooltip" data-tippy-content="Add to wishlist" href="shop-wishlist.html" title="Add to wishlist">
                    <i class="lastudioicon-heart-2"></i>
                  </a>
                  <a class="action-compare ht-tooltip" data-tippy-content="Add to compare" href="shop-compare.html" title="Add to compare">
                    <i class="lastudioicon-compare"></i>
                  </a>
                </div>
                <div class="product-action-info action-info-style2">
                  <div class="content-inner">
                    <h4 class="title"><a href="shop-single-product.html">Double Breasted Blazer</a></h4>
                    <div class="prices">
                      <span class="price">£39.90</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Product Item -->
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <!-- Start Product Item -->
            <div class="product-item">
              <div class="product-thumb">
                <a href="shop-single-product.html">
                  <img src="{% static 'assets/img/shop/masonry/16.jpg' %}" alt="Moren-Shop">
                  <span class="bg-thumb" data-bg-img="assets/img/shop/masonry/17.jpg"></span>
                  <span class="thumb-overlay overlay-black-7"></span>
                </a>
                <div class="product-action action-style2">
                  <a class="action-cart ht-tooltip" data-tippy-content="Add to cart" href="shop-cart.html" title="Add to cart">
                    <i class="lastudioicon-shopping-cart-3"></i>
                  </a>
                  <a class="action-quick-view ht-tooltip" data-tippy-content="Quick View" href="javascript:void(0);" title="Wishlist">
                    <i class="lastudioicon-search-zoom-in"></i>
                  </a>
                  <a class="action-wishlist ht-tooltip" data-tippy-content="Add to wishlist" href="shop-wishlist.html" title="Add to wishlist">
                    <i class="lastudioicon-heart-2"></i>
                  </a>
                  <a class="action-compare ht-tooltip" data-tippy-content="Add to compare" href="shop-compare.html" title="Add to compare">
                    <i class="lastudioicon-compare"></i>
                  </a>
                </div>
                <div class="product-action-info action-info-style2">
                  <div class="content-inner">
                    <h4 class="title"><a href="shop-single-product.html">Double Breasted Blazer</a></h4>
                    <div class="prices">
                      <span class="price">S/39.90</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Product Item -->
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <!-- Start Product Item -->
            <div class="product-item">
              <div class="product-thumb">
                <a href="shop-single-product.html">
                  <img src="{% static 'assets/img/shop/masonry/18.jpg' %}" alt="Moren-Shop">
                  <span class="bg-thumb" data-bg-img="assets/img/shop/masonry/19.jpg"></span>
                  <span class="thumb-overlay overlay-black-7"></span>
                </a>
                <div class="product-action action-style2">
                  <a class="action-cart ht-tooltip" data-tippy-content="Add to cart" href="shop-cart.html" title="Add to cart">
                    <i class="lastudioicon-shopping-cart-3"></i>
                  </a>
                  <a class="action-quick-view ht-tooltip" data-tippy-content="Quick View" href="javascript:void(0);" title="Wishlist">
                    <i class="lastudioicon-search-zoom-in"></i>
                  </a>
                  <a class="action-wishlist ht-tooltip" data-tippy-content="Add to wishlist" href="shop-wishlist.html" title="Add to wishlist">
                    <i class="lastudioicon-heart-2"></i>
                  </a>
                  <a class="action-compare ht-tooltip" data-tippy-content="Add to compare" href="shop-compare.html" title="Add to compare">
                    <i class="lastudioicon-compare"></i>
                  </a>
                </div>
                <div class="product-action-info action-info-style2">
                  <div class="content-inner">
                    <h4 class="title"><a href="shop-single-product.html">Double Breasted Blazer</a></h4>
                    <div class="prices">
                      <span class="price">S/39.90</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Product Item -->
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <!-- Start Product Item -->
            <div class="product-item">
              <div class="product-thumb">
                <a href="shop-single-product.html">
                  <img src="{% static 'assets/img/shop/masonry/20.jpg' %}" alt="Moren-Shop">
                  <span class="thumb-overlay overlay-black-7"></span>
                </a>
                <div class="product-action action-style2">
                  <a class="action-cart ht-tooltip" data-tippy-content="Add to cart" href="shop-cart.html" title="Add to cart">
                    <i class="lastudioicon-shopping-cart-3"></i>
                  </a>
                  <a class="action-quick-view ht-tooltip" data-tippy-content="Quick View" href="javascript:void(0);" title="Wishlist">
                    <i class="lastudioicon-search-zoom-in"></i>
                  </a>
                  <a class="action-wishlist ht-tooltip" data-tippy-content="Add to wishlist" href="shop-wishlist.html" title="Add to wishlist">
                    <i class="lastudioicon-heart-2"></i>
                  </a>
                  <a class="action-compare ht-tooltip" data-tippy-content="Add to compare" href="shop-compare.html" title="Add to compare">
                    <i class="lastudioicon-compare"></i>
                  </a>
                </div>
                <div class="product-action-info action-info-style2">
                  <div class="content-inner">
                    <h4 class="title"><a href="shop-single-product.html">Double Crossed Choker Necklace</a></h4>
                    <div class="prices">
                      <span class="price">S/39.90</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Product Item -->
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <!-- Start Product Item -->
            <div class="product-item">
              <div class="product-thumb">
                <a href="shop-single-product.html">
                  <img src="{% static 'assets/img/shop/masonry/21.jpg' %}" alt="Moren-Shop">
                  <span class="thumb-overlay overlay-black-7"></span>
                </a>
                <div class="product-action action-style2">
                  <a class="action-cart ht-tooltip" data-tippy-content="Add to cart" href="shop-cart.html" title="Add to cart">
                    <i class="lastudioicon-shopping-cart-3"></i>
                  </a>
                  <a class="action-quick-view ht-tooltip" data-tippy-content="Quick View" href="javascript:void(0);" title="Wishlist">
                    <i class="lastudioicon-search-zoom-in"></i>
                  </a>
                  <a class="action-wishlist ht-tooltip" data-tippy-content="Add to wishlist" href="shop-wishlist.html" title="Add to wishlist">
                    <i class="lastudioicon-heart-2"></i>
                  </a>
                  <a class="action-compare ht-tooltip" data-tippy-content="Add to compare" href="shop-compare.html" title="Add to compare">
                    <i class="lastudioicon-compare"></i>
                  </a>
                </div>
                <div class="product-action-info action-info-style2">
                  <div class="content-inner">
                    <h4 class="title"><a href="shop-single-product.html">Enter My Orbit Earrings</a></h4>
                    <div class="prices">
                      <span class="price">S/57.90</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Product Item -->
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <!-- Start Product Item -->
            <div class="product-item">
              <div class="product-thumb">
                <a href="shop-single-product.html">
                  <img src="{% static 'assets/img/shop/masonry/22.jpg' %}" alt="Moren-Shop">
                  <span class="thumb-overlay overlay-black-7"></span>
                </a>
                <div class="product-action action-style2">
                  <a class="action-cart ht-tooltip" data-tippy-content="Add to cart" href="shop-cart.html" title="Add to cart">
                    <i class="lastudioicon-shopping-cart-3"></i>
                  </a>
                  <a class="action-quick-view ht-tooltip" data-tippy-content="Quick View" href="javascript:void(0);" title="Wishlist">
                    <i class="lastudioicon-search-zoom-in"></i>
                  </a>
                  <a class="action-wishlist ht-tooltip" data-tippy-content="Add to wishlist" href="shop-wishlist.html" title="Add to wishlist">
                    <i class="lastudioicon-heart-2"></i>
                  </a>
                  <a class="action-compare ht-tooltip" data-tippy-content="Add to compare" href="shop-compare.html" title="Add to compare">
                    <i class="lastudioicon-compare"></i>
                  </a>
                </div>
                <div class="product-action-info action-info-style2">
                  <div class="content-inner">
                    <h4 class="title"><a href="shop-single-product.html">Golden Fish Necklace</a></h4>
                    <div class="prices">
                      <span class="price">S/48.00</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Product Item -->
          </div>
          <div class="masonry-btn">
            <a class="btn-theme btn-border" href="shop.html">CARGAR MAS PRODUCTOS</a>
          </div>
        </div>
      </div>
    </section>
    <!--== End Products Area Wrapper ==-->
  </main>

  <!--== Start Footer Area Wrapper ==-->
  <footer class="footer-area default-style">
    <div class="footer-main">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <div class="widget-item widget-column1">
              <h4>SUSCRIBIRSE PARA RECIBIR NOTICIAS DE MOREN</h4>
              <div class="newsletter-content-wrap">
                <form class="newsletter-form" action="#">
                  <input class="form-control" type="text" id="email" placeholder="Email">
                  <button class="btn btn-theme btn-black" type="submit">SUSCRIBIRSE</button>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="widget-item widget-column2">
              <h4>AYUDA</h4>
              <nav class="widget-menu-wrap menu-col-2">
                <ul class="nav-menu nav">
                  <li><a href="index.html">Pagos</a></li>
                  <li><a href="index.html">Envios</a></li>
                  <li><a href="index.html">Devoluciones</a></li>
                </ul>
                <ul class="nav-menu nav ">
                  <li><a href="faq.html">FAQ</a></li>
                  <li><a href="contact.html">Contactanos</a></li>
                  <li><a href="index.html">Ubicacion</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="col-md-3">
            <div class="widget-item widget-column3">
              <h4>EXPLORAR</h4>
              <nav class="widget-menu-wrap">
                <ul class="nav-menu nav">
                  <li><a href="about.html">Nosotros</a></li>
                  <li><a href="blog.html">Blog</a></li>
                  <li><a href="blog.html">Ver el look</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="widget-item">
              <div class="widget-social-icons">
                <a href="#/"><i class="lastudioicon lastudioicon-b-facebook"></i></a> 
                <a href="#/"><i class="lastudioicon lastudioicon-b-pinterest"></i></a> 
                <a href="#/"><i class="lastudioicon lastudioicon-b-twitter"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--== End Footer Area Wrapper ==-->
  
  <!--== Scroll Top Button ==-->
  <div class="scroll-to-top"><span class="icofont-arrow-up"></span></div>

  <!--== Start Product Quick View ==-->
  <aside class="product-quick-view-modal">
    <div class="product-quick-view-inner">
      <div class="product-quick-view-content">
        <button type="button" class="btn-close">
          <span class="close-icon"><i class="lastudioicon-e-remove"></i></span>
        </button>
        <div class="row row-gutter-0">
          <div class="col-lg-6 col-md-6 col-12">
            <div class="thumb">
              <img src="{% static 'assets/img/shop/quick-view1.jpg' %}" alt="Moren-Shop">
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-12">
            <div class="single-product-info">
              <h4 class="title">Producto Simple</h4>
              <div class="product-rating">
                <div class="review">
                  <p><span></span>99 en stock</p>
                </div>
              </div>
              <div class="prices">
                <span class="price">S/49.90</span>
              </div>
              <p class="product-desc">Producto con la mejor calidad</p>
              <div class="quick-product-action">
                <div class="action-top">
                  <div class="pro-qty-area">
                    <div class="pro-qty">
                      <input type="text" id="quantity" title="Quantity" value="1">
                    <a href="#" class="inc qty-btn">+</a><a href="#" class="dec qty-btn">-</a></div>
                  </div>
                  <a class="btn-theme btn-black" href="shop-cart.html">Agregar al carrito</a>
                </div>
                <div class="action-bottom">
                  <a class="btn-wishlist" href="shop-wishlist.html"><i class="labtn-icon labtn-icon-wishlist"></i>Agregar a la lista de deseos</a>
                  <a class="btn-compare" href="shop-compare.html"><i class="labtn-icon labtn-icon-compare"></i>Agregar a la comparacion</a>
                </div>
              </div>
              <div class="product-ratting">
                <div class="product-sku">
                  SKU: <span>REF. LA-276</span>
                </div>
              </div>
              <div class="product-categorys">
                <div class="product-category">
                  Categoria: <span>Sin categoria</span>
                </div>
              </div>
              <div class="widget">
                <h3 class="title">Etiquetas:</h3>
                <div class="widget-tags">
                  <ul>
                    <li><a href="shop.html">Blazer,</a></li>
                    <li><a href="shop.html">Fashion,</a></li>
                    <li><a href="shop.html">wordpress,</a></li>
                  </ul>
                </div>
              </div>
              <div class="product-social-info">
                <a href="#"><span class="lastudioicon-b-facebook"></span></a>
                <a href="#"><span class="lastudioicon-b-twitter"></span></a>
                <a href="#"><span class="lastudioicon-b-linkedin"></span></a>
                <a href="#"><span class="lastudioicon-b-pinterest"></span></a>
              </div>
              <div class="product-nextprev">
                <a href="shop-single-product.html">
                  <i class="lastudioicon-arrow-left"></i>
                </a>
                <a href="shop-single-product.html">
                  <i class="lastudioicon-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="canvas-overlay"></div>
  </aside>
  <!--== End Product Quick View ==-->

  <!--== Start Aside Search Menu ==-->
  <div class="search-box-wrapper">
    <div class="search-box-content-inner">
      <div class="search-box-form-wrap">
        <div class="search-note">
          <p>Start typing and press Enter to search</p>
        </div>
        <form action="#" method="post">
          <div class="search-form position-relative">
            <label for="search-input" class="sr-only">Search</label>
            <input type="search" class="form-control" placeholder="Search" id="search-input">
            <button class="search-button"><i class="lastudioicon-zoom-1"></i></button>
          </div>
        </form>
      </div>
    </div>
    <!--== End Aside Search Menu ==-->
    <a href="javascript:;" class="search-close"><i class="lastudioicon-e-remove"></i></a>
  </div>
  <!--== End Aside Search Menu ==-->

  <!--== Start Sidebar Cart Menu ==-->
  <aside class="sidebar-cart-modal">
    <div class="sidebar-cart-inner">
      <div class="sidebar-cart-content">
        <a class="cart-close" href="javascript:void(0);"><i class="lastudioicon-e-remove"></i></a>
        <div class="sidebar-cart">
          <h4 class="sidebar-cart-title">Carrito de compras</h4>
          <div class="product-cart">
            <div class="product-cart-item">
              <div class="product-img">
                <a href="shop.html"><img src="assets/img/shop/cart/1.jpg" alt=""></a>
              </div>
              <div class="product-info">
                <h4 class="title"><a href="shop.html">I’m a Unicorn Earrings</a></h4>
                <span class="info">1 × S/69.00</span>
              </div>
              <div class="product-delete"><a href="#/">×</a></div>
            </div>
            <div class="product-cart-item">
              <div class="product-img">
                <a href="shop.html"><img src="assets/img/shop/cart/2.jpg" alt=""></a>
              </div>
              <div class="product-info">
                <h4 class="title"><a href="shop.html">Knit cropped cardigan</a></h4>
                <span class="info">1 × S/29.90</span>
              </div>
              <div class="product-delete"><a href="#/">×</a></div>
            </div>
          </div>
          <div class="cart-total">
            <h4>Subtotal: <span class="money">S/98.90</span></h4>
          </div>
          <div class="shipping-info">
            <div class="loading-bar">
              <div class="load-percent"></div>
              <div class="label-free-shipping">
                <div class="free-shipping svg-icon-style">
                  <span class="svg-icon" id="svg-icon-shipping" data-svg-icon="assets/img/icons/shop1.svg"></span>
                </div>
                <p>Gastar S/101.10 para obtener envio gratis</p>
              </div>
            </div>
          </div>
          <div class="cart-checkout-btn">
            <a class="btn-theme" href="shop-cart.html">Ver carrito</a>
            <a class="btn-theme" href="shop-checkout.html">Checkout</a>
          </div>
        </div>
      </div>
    </div>
  </aside>
  <div class="sidebar-cart-overlay"></div>
  <!--== End Sidebar Cart Menu ==-->

  <!--== Start Side Menu ==-->
  <aside class="off-canvas-wrapper">
    <div class="off-canvas-inner">
      <div class="off-canvas-overlay d-none"></div>
      <!-- Start Off Canvas Content Wrapper -->
      <div class="off-canvas-content">
        <!-- Off Canvas Header -->
        <div class="off-canvas-header">
          <div class="close-action">
            <button class="btn-close"><i class="icofont-close-line"></i></button>
          </div>
        </div>

        <div class="off-canvas-item">
          <!-- Start Mobile Menu Wrapper -->
          <div class="res-mobile-menu">
            <!-- Note Content Auto Generate By Jquery From Main Menu -->
          </div>
          <!-- End Mobile Menu Wrapper -->
        </div>
        <!-- Off Canvas Footer -->
        <div class="off-canvas-footer"></div>
      </div>
      <!-- End Off Canvas Content Wrapper -->
    </div>
  </aside>
  <!--== End Side Menu ==-->
</div>

<!--=======================Javascript============================-->

<!--=== Modernizr Min Js ===-->
<script src="{% static 'assets/js/modernizr.min.js' %}"></script>
<!--=== jQuery Min Js ===-->
<script src="{% static 'assets/js/jquery-main.js' %}"></script>
<!--=== jQuery Migration Min Js ===-->
<script src="{% static 'assets/js/jquery-migrate.js' %}"></script>
<!--=== Popper Min Js ===-->
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<!--=== Bootstrap Min Js ===-->
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<!--=== jquery Appear Js ===-->
<script src="{% static 'assets/js/jquery.appear.js' %}"></script>
<!--=== jquery Swiper Min Js ===-->
<script src="{% static 'assets/js/swiper.min.js' %}"></script>
<!--=== jquery Fancybox Min Js ===-->
<script src="{% static 'assets/js/fancybox.min.js' %}"></script>
<!--=== jquery Aos Min Js ===-->
<script src="{% static 'assets/js/aos.min.js' %}"></script>
<!--=== jquery Slicknav Js ===-->
<script src="{% static 'assets/js/jquery.slicknav.js' %}"></script>
<!--=== jquery Countdown Js ===-->
<script src="{% static 'assets/js/jquery.countdown.min.js' %}"></script>
<!--=== jquery Tippy Js ===-->
<script src="{% static 'assets/js/tippy.all.min.js' %}"></script>
<!--=== Isotope Min Js ===-->
<script src="{% static 'assets/js/isotope.pkgd.min.js' %}"></script>
<!--=== jquery Vivus Js ===-->
<script src="{% static 'assets/js/vivus.js' %}"></script>
<!--=== Parallax Min Js ===-->
<script src="{% static 'assets/js/parallax.min.js' %}"></script>
<!--=== Slick  Min Js ===-->
<script src="{% static 'assets/js/slick.min.js' %}"></script>
<!--=== jquery Wow Min Js ===-->
<script src="{% static 'assets/js/wow.min.js' %}"></script>
<!--=== jquery Zoom Min Js ===-->
<script src="{% static 'assets/js/jquery-zoom.min.js' %}"></script>

<!--=== Custom Js ===-->
<script src="{% static 'assets/js/custom.js' %}"></script>

</body>

</html>